USE [CableNetDB]
GO
/****** Objeto: Table [dbo].[Cliente] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](20) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[FechaAlta] [date] NOT NULL,
	[Direccion] [nvarchar](250) NULL,
	[Correo] [nvarchar](120) NULL,
	[Telefono] [varchar](20) NULL,
	[IdEstadoCliente] [tinyint] NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](0) NOT NULL,
	[FechaModificacion] [datetime2](0) NULL,
	[IdLocalidad] [int] NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DescuentoFactura] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DescuentoFactura](
	[IdDescuentoFactura] [int] IDENTITY(1,1) NOT NULL,
	[IdFactura] [int] NOT NULL,
	[IdTipoDescuento] [int] NOT NULL,
	[Porcentaje] [decimal](5, 2) NOT NULL,
	[MontoDescuento] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_DescuentoFactura] PRIMARY KEY CLUSTERED 
(
	[IdDescuentoFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DetalleFactura] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleFactura](
	[IdDetalleFactura] [int] IDENTITY(1,1) NOT NULL,
	[IdFactura] [int] NOT NULL,
	[IdServicio] [int] NOT NULL,
	[TipoServicio] [nvarchar](50) NOT NULL,
	[CostoMensual] [decimal](10, 2) NOT NULL,
	[Cantidad] [tinyint] NOT NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_DetalleFactura] PRIMARY KEY CLUSTERED 
(
	[IdDetalleFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DetalleNomina] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleNomina](
	[IdDetalleNomina] [int] IDENTITY(1,1) NOT NULL,
	[IdNomina] [int] NOT NULL,
	[IdEmpleado] [int] NOT NULL,
	[SalarioBase] [decimal](10, 2) NOT NULL,
	[Bonificacion] [decimal](10, 2) NOT NULL,
	[HorasExtra] [decimal](10, 2) NOT NULL,
	[TotalDevengado] [decimal](10, 2) NOT NULL,
	[CuotaIGSS] [decimal](10, 2) NOT NULL,
	[RetencionISR] [decimal](10, 2) NOT NULL,
	[OtrasDeducciones] [decimal](10, 2) NOT NULL,
	[TotalDeducciones] [decimal](10, 2) NOT NULL,
	[LiquidoAPagar] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_DetalleNomina] PRIMARY KEY CLUSTERED 
(
	[IdDetalleNomina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Empleado] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[IdEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](20) NOT NULL,
	[Nombres] [nvarchar](100) NOT NULL,
	[Apellidos] [nvarchar](100) NOT NULL,
	[DPI] [varchar](20) NULL,
	[IdTipoPuesto] [int] NOT NULL,
	[SalarioBase] [decimal](10, 2) NOT NULL,
	[FechaIngreso] [date] NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](0) NOT NULL,
	[FechaModificacion] [datetime2](0) NULL,
 CONSTRAINT [PK_Empleado] PRIMARY KEY CLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[EstadoCliente] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoCliente](
	[IdEstadoCliente] [tinyint] NOT NULL,
	[Nombre] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstadoCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Factura] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[IdFactura] [int] IDENTITY(1,1) NOT NULL,
	[NumeroFactura] [varchar](20) NOT NULL,
	[Serie] [varchar](10) NOT NULL,
	[Fecha] [date] NOT NULL,
	[IdCliente] [int] NOT NULL,
	[MesCobro] [tinyint] NOT NULL,
	[AnioCobro] [smallint] NOT NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
	[MontoDescuento] [decimal](10, 2) NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
	[IdEstado] [tinyint] NOT NULL,
	[EsPagoAnticipado] [bit] NOT NULL,
	[MesesPagados] [tinyint] NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Factura] PRIMARY KEY CLUSTERED 
(
	[IdFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Localidad] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Localidad](
	[IdLocalidad] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Departamento] [nvarchar](100) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Localidad] PRIMARY KEY CLUSTERED 
(
	[IdLocalidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Nomina] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nomina](
	[IdNomina] [int] IDENTITY(1,1) NOT NULL,
	[Periodo] [varchar](7) NOT NULL,
	[FechaPago] [date] NOT NULL,
	[IdEstado] [tinyint] NOT NULL,
	[TotalPagar] [decimal](12, 2) NOT NULL,
	[FechaCreacion] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Nomina] PRIMARY KEY CLUSTERED 
(
	[IdNomina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Pago] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[IdPago] [int] IDENTITY(1,1) NOT NULL,
	[IdFactura] [int] NOT NULL,
	[FechaPago] [datetime2](0) NOT NULL,
	[Monto] [decimal](10, 2) NOT NULL,
	[MetodoPago] [varchar](30) NOT NULL,
	[Referencia] [varchar](100) NULL,
 CONSTRAINT [PK_Pago] PRIMARY KEY CLUSTERED 
(
	[IdPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PasivoLaboral] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasivoLaboral](
	[IdPasivoLaboral] [int] IDENTITY(1,1) NOT NULL,
	[IdEmpleado] [int] NOT NULL,
	[TipoConcepto] [tinyint] NOT NULL,
	[Monto] [decimal](10, 2) NOT NULL,
	[FechaCalculo] [date] NOT NULL,
	[Periodo] [varchar](7) NOT NULL,
 CONSTRAINT [PK_PasivoLaboral] PRIMARY KEY CLUSTERED 
(
	[IdPasivoLaboral] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Servicio] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicio](
	[IdServicio] [int] IDENTITY(1,1) NOT NULL,
	[IdTipoServicio] [tinyint] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
	[VelocidadMbps] [int] NULL,
	[TipoServicioCable] [tinyint] NULL,
	[NumeroCanales] [int] NULL,
	[CostoBase] [decimal](10, 2) NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](0) NOT NULL,
	[fechaModificacion] [datetime2](0) NULL,
 CONSTRAINT [PK_Servicio] PRIMARY KEY CLUSTERED 
(
	[IdServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ServicioCable] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServicioCable](
	[IdServicioCable] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[DireccionInstalacion] [nvarchar](250) NULL,
	[TipoServicio] [tinyint] NOT NULL,
	[Costo] [decimal](10, 2) NOT NULL,
	[FechaContratacion] [date] NOT NULL,
	[Activo] [bit] NOT NULL,
	[IdServicio] [int] NULL,
 CONSTRAINT [PK_ServicioCable] PRIMARY KEY CLUSTERED 
(
	[IdServicioCable] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ServicioInternet] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServicioInternet](
	[IdServicioInternet] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[VelocidadMbps] [int] NOT NULL,
	[Costo] [decimal](10, 2) NOT NULL,
	[FechaContratacion] [date] NOT NULL,
	[Activo] [bit] NOT NULL,
	[IdServicio] [int] NULL,
 CONSTRAINT [PK_ServicioInternet] PRIMARY KEY CLUSTERED 
(
	[IdServicioInternet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TarifaServicio] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TarifaServicio](
	[IdTarifa] [int] IDENTITY(1,1) NOT NULL,
	[IdServicio] [int] NOT NULL,
	[IdLocalidad] [int] NOT NULL,
	[Costo] [decimal](10, 2) NOT NULL,
	[FechaVigenciaInicio] [date] NOT NULL,
	[FechaVigenciaFin] [date] NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_TarifaServicio] PRIMARY KEY CLUSTERED 
(
	[IdTarifa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TipoDescuento] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoDescuento](
	[IdTipoDescuento] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](250) NULL,
	[Porcentaje] [decimal](5, 2) NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_TipoDescuento] PRIMARY KEY CLUSTERED 
(
	[IdTipoDescuento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TipoPuesto] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoPuesto](
	[IdTipoPuesto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](80) NOT NULL,
	[Descripcion] [nvarchar](200) NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_TipoPuesto] PRIMARY KEY CLUSTERED 
(
	[IdTipoPuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TipoServicio] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoServicio](
	[IdTipoServicio] [tinyint] NOT NULL,
	[Nombre] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTipoServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([IdCliente], [Codigo], [Nombre], [FechaAlta], [Direccion], [Correo], [Telefono], [IdEstadoCliente], [Activo], [FechaCreacion], [FechaModificacion], [IdLocalidad]) VALUES (1, N'CLI-001', N'Juan García López', CAST(N'2026-06-20' AS Date), N'Zona 15, Guatemala', N'juan@email.com', N'5555-9999', 1, 1, CAST(N'2026-06-20T01:32:58.0000000' AS DateTime2), CAST(N'2026-06-21T21:06:38.0000000' AS DateTime2), NULL)
INSERT [dbo].[Cliente] ([IdCliente], [Codigo], [Nombre], [FechaAlta], [Direccion], [Correo], [Telefono], [IdEstadoCliente], [Activo], [FechaCreacion], [FechaModificacion], [IdLocalidad]) VALUES (2, N'CLI-002', N'julio morales', CAST(N'2026-06-20' AS Date), N'departamento del cerinal', N'julio@gmail.com', N'13254359', 1, 1, CAST(N'2026-06-20T22:41:52.0000000' AS DateTime2), NULL, NULL)
INSERT [dbo].[Cliente] ([IdCliente], [Codigo], [Nombre], [FechaAlta], [Direccion], [Correo], [Telefono], [IdEstadoCliente], [Activo], [FechaCreacion], [FechaModificacion], [IdLocalidad]) VALUES (3, N'CLI-003', N'vanesa', CAST(N'2026-06-21' AS Date), N'capital, zona 1', N'vane@gmail.com', N'135246834', 1, 1, CAST(N'2026-06-21T22:11:39.0000000' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[DescuentoFactura] ON 

INSERT [dbo].[DescuentoFactura] ([IdDescuentoFactura], [IdFactura], [IdTipoDescuento], [Porcentaje], [MontoDescuento]) VALUES (1, 1, 1, CAST(10.00 AS Decimal(5, 2)), CAST(28.00 AS Decimal(10, 2)))
INSERT [dbo].[DescuentoFactura] ([IdDescuentoFactura], [IdFactura], [IdTipoDescuento], [Porcentaje], [MontoDescuento]) VALUES (2, 2, 1, CAST(10.00 AS Decimal(5, 2)), CAST(168.00 AS Decimal(10, 2)))
INSERT [dbo].[DescuentoFactura] ([IdDescuentoFactura], [IdFactura], [IdTipoDescuento], [Porcentaje], [MontoDescuento]) VALUES (3, 2, 2, CAST(16.67 AS Decimal(5, 2)), CAST(280.06 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[DescuentoFactura] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleFactura] ON 

INSERT [dbo].[DetalleFactura] ([IdDetalleFactura], [IdFactura], [IdServicio], [TipoServicio], [CostoMensual], [Cantidad], [Subtotal]) VALUES (1, 1, 8, N'internet 15 Mbps', CAST(100.00 AS Decimal(10, 2)), 1, CAST(100.00 AS Decimal(10, 2)))
INSERT [dbo].[DetalleFactura] ([IdDetalleFactura], [IdFactura], [IdServicio], [TipoServicio], [CostoMensual], [Cantidad], [Subtotal]) VALUES (2, 1, 5, N'Cable Premium', CAST(180.00 AS Decimal(10, 2)), 1, CAST(180.00 AS Decimal(10, 2)))
INSERT [dbo].[DetalleFactura] ([IdDetalleFactura], [IdFactura], [IdServicio], [TipoServicio], [CostoMensual], [Cantidad], [Subtotal]) VALUES (3, 2, 8, N'internet 15 Mbps', CAST(100.00 AS Decimal(10, 2)), 6, CAST(600.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[DetalleFactura] OFF
GO
SET IDENTITY_INSERT [dbo].[Empleado] ON 

INSERT [dbo].[Empleado] ([IdEmpleado], [Codigo], [Nombres], [Apellidos], [DPI], [IdTipoPuesto], [SalarioBase], [FechaIngreso], [Activo], [FechaCreacion], [FechaModificacion]) VALUES (1, N'EMP-001', N'María', N'González', N'1234567890101', 1, CAST(4500.00 AS Decimal(10, 2)), CAST(N'2024-01-15' AS Date), 1, CAST(N'2026-06-22T10:43:50.0000000' AS DateTime2), NULL)
INSERT [dbo].[Empleado] ([IdEmpleado], [Codigo], [Nombres], [Apellidos], [DPI], [IdTipoPuesto], [SalarioBase], [FechaIngreso], [Activo], [FechaCreacion], [FechaModificacion]) VALUES (2, N'EMP-002', N'Carlos', N'Pérez', N'2345678901202', 2, CAST(5800.00 AS Decimal(10, 2)), CAST(N'2023-06-10' AS Date), 1, CAST(N'2026-06-22T10:43:50.0000000' AS DateTime2), NULL)
INSERT [dbo].[Empleado] ([IdEmpleado], [Codigo], [Nombres], [Apellidos], [DPI], [IdTipoPuesto], [SalarioBase], [FechaIngreso], [Activo], [FechaCreacion], [FechaModificacion]) VALUES (3, N'EMP-003', N'Ana', N'López', N'3456789012303', 3, CAST(7200.00 AS Decimal(10, 2)), CAST(N'2022-03-20' AS Date), 1, CAST(N'2026-06-22T10:43:50.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Empleado] OFF
GO
INSERT [dbo].[EstadoCliente] ([IdEstadoCliente], [Nombre]) VALUES (0, N'Inactivo')
INSERT [dbo].[EstadoCliente] ([IdEstadoCliente], [Nombre]) VALUES (1, N'Activo')
INSERT [dbo].[EstadoCliente] ([IdEstadoCliente], [Nombre]) VALUES (2, N'Suspendido')
GO
SET IDENTITY_INSERT [dbo].[Factura] ON 

INSERT [dbo].[Factura] ([IdFactura], [NumeroFactura], [Serie], [Fecha], [IdCliente], [MesCobro], [AnioCobro], [Subtotal], [MontoDescuento], [Total], [IdEstado], [EsPagoAnticipado], [MesesPagados], [Activo], [FechaCreacion]) VALUES (1, N'00000001', N'A', CAST(N'2026-06-20' AS Date), 2, 6, 2026, CAST(280.00 AS Decimal(10, 2)), CAST(28.00 AS Decimal(10, 2)), CAST(252.00 AS Decimal(10, 2)), 4, 0, 1, 1, CAST(N'2026-06-20T23:25:02.0000000' AS DateTime2))
INSERT [dbo].[Factura] ([IdFactura], [NumeroFactura], [Serie], [Fecha], [IdCliente], [MesCobro], [AnioCobro], [Subtotal], [MontoDescuento], [Total], [IdEstado], [EsPagoAnticipado], [MesesPagados], [Activo], [FechaCreacion]) VALUES (2, N'00000002', N'A', CAST(N'2026-06-20' AS Date), 2, 7, 2026, CAST(1680.00 AS Decimal(10, 2)), CAST(448.06 AS Decimal(10, 2)), CAST(1231.94 AS Decimal(10, 2)), 2, 1, 6, 1, CAST(N'2026-06-20T23:25:51.0000000' AS DateTime2))
INSERT [dbo].[Factura] ([IdFactura], [NumeroFactura], [Serie], [Fecha], [IdCliente], [MesCobro], [AnioCobro], [Subtotal], [MontoDescuento], [Total], [IdEstado], [EsPagoAnticipado], [MesesPagados], [Activo], [FechaCreacion]) VALUES (3, N'00000003', N'A', CAST(N'2026-06-20' AS Date), 1, 6, 2026, CAST(300.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(300.00 AS Decimal(10, 2)), 2, 0, 1, 1, CAST(N'2026-06-20T23:27:01.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Factura] OFF
GO
SET IDENTITY_INSERT [dbo].[Localidad] ON 

INSERT [dbo].[Localidad] ([IdLocalidad], [Nombre], [Departamento], [Activo]) VALUES (1, N'Zona 1', N'Guatemala', 1)
INSERT [dbo].[Localidad] ([IdLocalidad], [Nombre], [Departamento], [Activo]) VALUES (2, N'Zona 10', N'Guatemala', 1)
INSERT [dbo].[Localidad] ([IdLocalidad], [Nombre], [Departamento], [Activo]) VALUES (3, N'Zona 15', N'Guatemala', 1)
SET IDENTITY_INSERT [dbo].[Localidad] OFF
GO
SET IDENTITY_INSERT [dbo].[Pago] ON 

INSERT [dbo].[Pago] ([IdPago], [IdFactura], [FechaPago], [Monto], [MetodoPago], [Referencia]) VALUES (1, 3, CAST(N'2026-06-21T15:02:56.0000000' AS DateTime2), CAST(300.00 AS Decimal(10, 2)), N'Efectivo', N'Recibo manual')
INSERT [dbo].[Pago] ([IdPago], [IdFactura], [FechaPago], [Monto], [MetodoPago], [Referencia]) VALUES (2, 5, CAST(N'2026-06-21T15:04:04.0000000' AS DateTime2), CAST(100.00 AS Decimal(10, 2)), N'Tarjeta', N'Auth 12345')
INSERT [dbo].[Pago] ([IdPago], [IdFactura], [FechaPago], [Monto], [MetodoPago], [Referencia]) VALUES (3, 6, CAST(N'2026-06-21T17:14:02.0000000' AS DateTime2), CAST(1231.94 AS Decimal(10, 2)), N'Transferencia', N'Trans-001234')
SET IDENTITY_INSERT [dbo].[Pago] OFF
GO
SET IDENTITY_INSERT [dbo].[Servicio] ON 

INSERT [dbo].[Servicio] ([IdServicio], [IdTipoServicio], [Nombre], [Descripcion], [VelocidadMbps], [TipoServicioCable], [NumeroCanales], [CostoBase], [Activo], [FechaCreacion], [fechaModificacion]) VALUES (1, 1, N'Internet 15 Mbps', N'Plan básico de internet', 15, NULL, NULL, CAST(150.00 AS Decimal(10, 2)), 0, CAST(N'2026-06-20T10:33:44.0000000' AS DateTime2), CAST(N'2026-06-20T15:25:03.0000000' AS DateTime2))
INSERT [dbo].[Servicio] ([IdServicio], [IdTipoServicio], [Nombre], [Descripcion], [VelocidadMbps], [TipoServicioCable], [NumeroCanales], [CostoBase], [Activo], [FechaCreacion], [fechaModificacion]) VALUES (2, 1, N'Internet 25 Mbps', N'Plan estándar de internet', 25, NULL, NULL, CAST(200.00 AS Decimal(10, 2)), 1, CAST(N'2026-06-20T10:33:44.0000000' AS DateTime2), NULL)
INSERT [dbo].[Servicio] ([IdServicio], [IdTipoServicio], [Nombre], [Descripcion], [VelocidadMbps], [TipoServicioCable], [NumeroCanales], [CostoBase], [Activo], [FechaCreacion], [fechaModificacion]) VALUES (3, 1, N'Internet 50 Mbps', N'Plan premium de internet', 50, NULL, NULL, CAST(300.00 AS Decimal(10, 2)), 1, CAST(N'2026-06-20T10:33:44.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Servicio] OFF
GO
SET IDENTITY_INSERT [dbo].[ServicioCable] ON 

INSERT [dbo].[ServicioCable] ([IdServicioCable], [IdCliente], [DireccionInstalacion], [TipoServicio], [Costo], [FechaContratacion], [Activo], [IdServicio]) VALUES (1, 1, N'barberena,guatemala', 2, CAST(180.00 AS Decimal(10, 2)), CAST(N'2026-06-20' AS Date), 1, 5)
INSERT [dbo].[ServicioCable] ([IdServicioCable], [IdCliente], [DireccionInstalacion], [TipoServicio], [Costo], [FechaContratacion], [Activo], [IdServicio]) VALUES (2, 2, N'departamento el cerinal ', 2, CAST(180.00 AS Decimal(10, 2)), CAST(N'2026-06-20' AS Date), 1, 5)
INSERT [dbo].[ServicioCable] ([IdServicioCable], [IdCliente], [DireccionInstalacion], [TipoServicio], [Costo], [FechaContratacion], [Activo], [IdServicio]) VALUES (3, 3, N'zona 10, capital', 1, CAST(100.00 AS Decimal(10, 2)), CAST(N'2026-06-21' AS Date), 1, 4)
SET IDENTITY_INSERT [dbo].[ServicioCable] OFF
GO
SET IDENTITY_INSERT [dbo].[ServicioInternet] ON 

INSERT [dbo].[ServicioInternet] ([IdServicioInternet], [IdCliente], [VelocidadMbps], [Costo], [FechaContratacion], [Activo], [IdServicio]) VALUES (1, 1, 15, CAST(300.00 AS Decimal(10, 2)), CAST(N'2025-01-15' AS Date), 1, 3)
INSERT [dbo].[ServicioInternet] ([IdServicioInternet], [IdCliente], [VelocidadMbps], [Costo], [FechaContratacion], [Activo], [IdServicio]) VALUES (2, 2, 15, CAST(100.00 AS Decimal(10, 2)), CAST(N'2026-06-20' AS Date), 1, 8)
INSERT [dbo].[ServicioInternet] ([IdServicioInternet], [IdCliente], [VelocidadMbps], [Costo], [FechaContratacion], [Activo], [IdServicio]) VALUES (3, 3, 50, CAST(100.00 AS Decimal(10, 2)), CAST(N'2025-01-15' AS Date), 1, 8)
SET IDENTITY_INSERT [dbo].[ServicioInternet] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoDescuento] ON 

INSERT [dbo].[TipoDescuento] ([IdTipoDescuento], [Nombre], [Descripcion], [Porcentaje], [Activo], [FechaCreacion]) VALUES (1, N'Paquete Doble', N'Descuento por contratar Cable e Internet', CAST(10.00 AS Decimal(5, 2)), 1, CAST(N'2026-06-20T17:54:48.0000000' AS DateTime2))
INSERT [dbo].[TipoDescuento] ([IdTipoDescuento], [Nombre], [Descripcion], [Porcentaje], [Activo], [FechaCreacion]) VALUES (2, N'Pago Anticipado', N'6 meses pagados, se cobran 5', CAST(16.67 AS Decimal(5, 2)), 1, CAST(N'2026-06-20T17:54:48.0000000' AS DateTime2))
INSERT [dbo].[TipoDescuento] ([IdTipoDescuento], [Nombre], [Descripcion], [Porcentaje], [Activo], [FechaCreacion]) VALUES (3, N'Cliente Fiel', N'Más de 2 años como cliente activo', CAST(5.00 AS Decimal(5, 2)), 1, CAST(N'2026-06-20T17:54:48.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[TipoDescuento] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoPuesto] ON 

INSERT [dbo].[TipoPuesto] ([IdTipoPuesto], [Nombre], [Descripcion], [Activo]) VALUES (1, N'Secretaria', NULL, 1)
INSERT [dbo].[TipoPuesto] ([IdTipoPuesto], [Nombre], [Descripcion], [Activo]) VALUES (2, N'Instalador', NULL, 1)
INSERT [dbo].[TipoPuesto] ([IdTipoPuesto], [Nombre], [Descripcion], [Activo]) VALUES (3, N'Técnico', NULL, 1)
SET IDENTITY_INSERT [dbo].[TipoPuesto] OFF
GO
INSERT [dbo].[TipoServicio] ([IdTipoServicio], [Nombre]) VALUES (1, N'Internet')
INSERT [dbo].[TipoServicio] ([IdTipoServicio], [Nombre]) VALUES (2, N'Cable')
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Cliente_Codigo] Fecha de script: 23/06/2026 18:28:16 ******/
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [UQ_Cliente_Codigo] UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ_DN_NominaEmp] Fecha de script: 23/06/2026 18:28:16 ******/
ALTER TABLE [dbo].[DetalleNomina] ADD  CONSTRAINT [UQ_DN_NominaEmp] UNIQUE NONCLUSTERED 
(
	[IdNomina] ASC,
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Empleado_Codigo] Fecha de script: 23/06/2026 18:28:16 ******/
ALTER TABLE [dbo].[Empleado] ADD  CONSTRAINT [UQ_Empleado_Codigo] UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Factura_Numero] Fecha de script: 23/06/2026 18:28:16 ******/
ALTER TABLE [dbo].[Factura] ADD  CONSTRAINT [UQ_Factura_Numero] UNIQUE NONCLUSTERED 
(
	[NumeroFactura] ASC,
	[Serie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Nomina_Periodo] Fecha de script: 23/06/2026 18:28:16 ******/
ALTER TABLE [dbo].[Nomina] ADD  CONSTRAINT [UQ_Nomina_Periodo] UNIQUE NONCLUSTERED 
(
	[Periodo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ_SC_Cliente] Fecha de script: 23/06/2026 18:28:16 ******/
ALTER TABLE [dbo].[ServicioCable] ADD  CONSTRAINT [UQ_SC_Cliente] UNIQUE NONCLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ_SI_Cliente] Fecha de script: 23/06/2026 18:28:16 ******/
ALTER TABLE [dbo].[ServicioInternet] ADD  CONSTRAINT [UQ_SI_Cliente] UNIQUE NONCLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [DF_Cli_Alta]  DEFAULT (CONVERT([date],getdate())) FOR [FechaAlta]
GO
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [DF_Cli_Estado]  DEFAULT ((1)) FOR [IdEstadoCliente]
GO
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [DF_Cli_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [DF_Cli_FCrea]  DEFAULT (sysdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[DetalleFactura] ADD  CONSTRAINT [DF_Det_Cant]  DEFAULT ((1)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[DetalleNomina] ADD  CONSTRAINT [DF_DN_Boni]  DEFAULT ((250.00)) FOR [Bonificacion]
GO
ALTER TABLE [dbo].[DetalleNomina] ADD  CONSTRAINT [DF_DN_HExt]  DEFAULT ((0)) FOR [HorasExtra]
GO
ALTER TABLE [dbo].[DetalleNomina] ADD  CONSTRAINT [DF_DN_ISR]  DEFAULT ((0)) FOR [RetencionISR]
GO
ALTER TABLE [dbo].[DetalleNomina] ADD  CONSTRAINT [DF_DN_OtrDed]  DEFAULT ((0)) FOR [OtrasDeducciones]
GO
ALTER TABLE [dbo].[Empleado] ADD  CONSTRAINT [DF_Emp_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Empleado] ADD  CONSTRAINT [DF_Emp_FCrea]  DEFAULT (sysdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Factura] ADD  CONSTRAINT [DF_Fac_Fecha]  DEFAULT (CONVERT([date],getdate())) FOR [Fecha]
GO
ALTER TABLE [dbo].[Factura] ADD  CONSTRAINT [DF_Fac_Desc]  DEFAULT ((0)) FOR [MontoDescuento]
GO
ALTER TABLE [dbo].[Factura] ADD  CONSTRAINT [DF_Fac_Estado]  DEFAULT ((1)) FOR [IdEstado]
GO
ALTER TABLE [dbo].[Factura] ADD  CONSTRAINT [DF_Fac_Ant]  DEFAULT ((0)) FOR [EsPagoAnticipado]
GO
ALTER TABLE [dbo].[Factura] ADD  CONSTRAINT [DF_Fac_Meses]  DEFAULT ((1)) FOR [MesesPagados]
GO
ALTER TABLE [dbo].[Factura] ADD  CONSTRAINT [DF_Fac_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Factura] ADD  CONSTRAINT [DF_Fac_FCrea]  DEFAULT (sysdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Localidad] ADD  CONSTRAINT [DF_Loc_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Nomina] ADD  CONSTRAINT [DF_Nom_Estado]  DEFAULT ((1)) FOR [IdEstado]
GO
ALTER TABLE [dbo].[Nomina] ADD  CONSTRAINT [DF_Nom_Total]  DEFAULT ((0)) FOR [TotalPagar]
GO
ALTER TABLE [dbo].[Nomina] ADD  CONSTRAINT [DF_Nom_FCrea]  DEFAULT (sysdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Pago] ADD  CONSTRAINT [DF_Pago_Fecha]  DEFAULT (sysdatetime()) FOR [FechaPago]
GO
ALTER TABLE [dbo].[PasivoLaboral] ADD  CONSTRAINT [DF_PL_Fecha]  DEFAULT (CONVERT([date],getdate())) FOR [FechaCalculo]
GO
ALTER TABLE [dbo].[Servicio] ADD  CONSTRAINT [DF_Srv_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Servicio] ADD  CONSTRAINT [DF_Srv_FCrea]  DEFAULT (sysdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[ServicioCable] ADD  CONSTRAINT [DF_SC_Fecha]  DEFAULT (CONVERT([date],getdate())) FOR [FechaContratacion]
GO
ALTER TABLE [dbo].[ServicioCable] ADD  CONSTRAINT [DF_SC_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[ServicioInternet] ADD  CONSTRAINT [DF_SI_Fecha]  DEFAULT (CONVERT([date],getdate())) FOR [FechaContratacion]
GO
ALTER TABLE [dbo].[ServicioInternet] ADD  CONSTRAINT [DF_SI_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[TarifaServicio] ADD  CONSTRAINT [DF_Tar_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[TipoDescuento] ADD  CONSTRAINT [DF_TD_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[TipoDescuento] ADD  CONSTRAINT [DF_TD_FCrea]  DEFAULT (sysdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[TipoPuesto] ADD  CONSTRAINT [DF_TP_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Estado] FOREIGN KEY([IdEstadoCliente])
REFERENCES [dbo].[EstadoCliente] ([IdEstadoCliente])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Cliente_Estado]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Localidad] FOREIGN KEY([IdLocalidad])
REFERENCES [dbo].[Localidad] ([IdLocalidad])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Cliente_Localidad]
GO
ALTER TABLE [dbo].[DescuentoFactura]  WITH CHECK ADD  CONSTRAINT [FK_DF_Descuento] FOREIGN KEY([IdTipoDescuento])
REFERENCES [dbo].[TipoDescuento] ([IdTipoDescuento])
GO
ALTER TABLE [dbo].[DescuentoFactura] CHECK CONSTRAINT [FK_DF_Descuento]
GO
ALTER TABLE [dbo].[DescuentoFactura]  WITH CHECK ADD  CONSTRAINT [FK_DF_Factura] FOREIGN KEY([IdFactura])
REFERENCES [dbo].[Factura] ([IdFactura])
GO
ALTER TABLE [dbo].[DescuentoFactura] CHECK CONSTRAINT [FK_DF_Factura]
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD  CONSTRAINT [FK_Det_Factura] FOREIGN KEY([IdFactura])
REFERENCES [dbo].[Factura] ([IdFactura])
GO
ALTER TABLE [dbo].[DetalleFactura] CHECK CONSTRAINT [FK_Det_Factura]
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD  CONSTRAINT [FK_Det_Servicio] FOREIGN KEY([IdServicio])
REFERENCES [dbo].[Servicio] ([IdServicio])
GO
ALTER TABLE [dbo].[DetalleFactura] CHECK CONSTRAINT [FK_Det_Servicio]
GO
ALTER TABLE [dbo].[DetalleNomina]  WITH CHECK ADD  CONSTRAINT [FK_DN_Empleado] FOREIGN KEY([IdEmpleado])
REFERENCES [dbo].[Empleado] ([IdEmpleado])
GO
ALTER TABLE [dbo].[DetalleNomina] CHECK CONSTRAINT [FK_DN_Empleado]
GO
ALTER TABLE [dbo].[DetalleNomina]  WITH CHECK ADD  CONSTRAINT [FK_DN_Nomina] FOREIGN KEY([IdNomina])
REFERENCES [dbo].[Nomina] ([IdNomina])
GO
ALTER TABLE [dbo].[DetalleNomina] CHECK CONSTRAINT [FK_DN_Nomina]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_Emp_Puesto] FOREIGN KEY([IdTipoPuesto])
REFERENCES [dbo].[TipoPuesto] ([IdTipoPuesto])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [FK_Emp_Puesto]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Fac_Cliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Cliente] ([IdCliente])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Fac_Cliente]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [FK_Pago_Factura] FOREIGN KEY([IdFactura])
REFERENCES [dbo].[Factura] ([IdFactura])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [FK_Pago_Factura]
GO
ALTER TABLE [dbo].[PasivoLaboral]  WITH CHECK ADD  CONSTRAINT [FK_PL_Empleado] FOREIGN KEY([IdEmpleado])
REFERENCES [dbo].[Empleado] ([IdEmpleado])
GO
ALTER TABLE [dbo].[PasivoLaboral] CHECK CONSTRAINT [FK_PL_Empleado]
GO
ALTER TABLE [dbo].[Servicio]  WITH CHECK ADD  CONSTRAINT [FK_Srv_Tipo] FOREIGN KEY([IdTipoServicio])
REFERENCES [dbo].[TipoServicio] ([IdTipoServicio])
GO
ALTER TABLE [dbo].[Servicio] CHECK CONSTRAINT [FK_Srv_Tipo]
GO
ALTER TABLE [dbo].[ServicioCable]  WITH CHECK ADD  CONSTRAINT [FK_SC_Cliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Cliente] ([IdCliente])
GO
ALTER TABLE [dbo].[ServicioCable] CHECK CONSTRAINT [FK_SC_Cliente]
GO
ALTER TABLE [dbo].[ServicioCable]  WITH CHECK ADD  CONSTRAINT [FK_SC_Servicio] FOREIGN KEY([IdServicio])
REFERENCES [dbo].[Servicio] ([IdServicio])
GO
ALTER TABLE [dbo].[ServicioCable] CHECK CONSTRAINT [FK_SC_Servicio]
GO
ALTER TABLE [dbo].[ServicioInternet]  WITH CHECK ADD  CONSTRAINT [FK_SI_Cliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Cliente] ([IdCliente])
GO
ALTER TABLE [dbo].[ServicioInternet] CHECK CONSTRAINT [FK_SI_Cliente]
GO
ALTER TABLE [dbo].[ServicioInternet]  WITH CHECK ADD  CONSTRAINT [FK_SI_Servicio] FOREIGN KEY([IdServicio])
REFERENCES [dbo].[Servicio] ([IdServicio])
GO
ALTER TABLE [dbo].[ServicioInternet] CHECK CONSTRAINT [FK_SI_Servicio]
GO
ALTER TABLE [dbo].[TarifaServicio]  WITH CHECK ADD  CONSTRAINT [FK_Tar_Localidad] FOREIGN KEY([IdLocalidad])
REFERENCES [dbo].[Localidad] ([IdLocalidad])
GO
ALTER TABLE [dbo].[TarifaServicio] CHECK CONSTRAINT [FK_Tar_Localidad]
GO
ALTER TABLE [dbo].[TarifaServicio]  WITH CHECK ADD  CONSTRAINT [FK_Tar_Servicio] FOREIGN KEY([IdServicio])
REFERENCES [dbo].[Servicio] ([IdServicio])
GO
ALTER TABLE [dbo].[TarifaServicio] CHECK CONSTRAINT [FK_Tar_Servicio]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [CK_Fac_Estado] CHECK  (([IdEstado]=(4) OR [IdEstado]=(3) OR [IdEstado]=(2) OR [IdEstado]=(1)))
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [CK_Fac_Estado]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [CK_Fac_Mes] CHECK  (([MesCobro]>=(1) AND [MesCobro]<=(12)))
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [CK_Fac_Mes]
GO
ALTER TABLE [dbo].[Nomina]  WITH CHECK ADD  CONSTRAINT [CK_Nom_Estado] CHECK  (([IdEstado]=(3) OR [IdEstado]=(2) OR [IdEstado]=(1)))
GO
ALTER TABLE [dbo].[Nomina] CHECK CONSTRAINT [CK_Nom_Estado]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [CK_Pago_Metodo] CHECK  (([MetodoPago]='Transferencia' OR [MetodoPago]='Tarjeta' OR [MetodoPago]='Efectivo'))
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [CK_Pago_Metodo]
GO
ALTER TABLE [dbo].[PasivoLaboral]  WITH CHECK ADD  CONSTRAINT [CK_PL_Tipo] CHECK  (([TipoConcepto]=(4) OR [TipoConcepto]=(3) OR [TipoConcepto]=(2) OR [TipoConcepto]=(1)))
GO
ALTER TABLE [dbo].[PasivoLaboral] CHECK CONSTRAINT [CK_PL_Tipo]
GO
ALTER TABLE [dbo].[Servicio]  WITH CHECK ADD  CONSTRAINT [CK_Srv_Cable] CHECK  (([TipoServicioCable] IS NULL OR ([TipoServicioCable]=(2) OR [TipoServicioCable]=(1))))
GO
ALTER TABLE [dbo].[Servicio] CHECK CONSTRAINT [CK_Srv_Cable]
GO
ALTER TABLE [dbo].[Servicio]  WITH CHECK ADD  CONSTRAINT [CK_Srv_Vel] CHECK  (([VelocidadMbps] IS NULL OR ([VelocidadMbps]=(50) OR [VelocidadMbps]=(25) OR [VelocidadMbps]=(15))))
GO
ALTER TABLE [dbo].[Servicio] CHECK CONSTRAINT [CK_Srv_Vel]
GO
ALTER TABLE [dbo].[Servicio]  WITH CHECK ADD  CONSTRAINT [CK_Srv_Velocidad] CHECK  (([VelocidadMbps] IS NULL OR [VelocidadMbps]>=(15) AND [VelocidadMbps]<=(50) AND [VelocidadMbps]%(5)=(0)))
GO
ALTER TABLE [dbo].[Servicio] CHECK CONSTRAINT [CK_Srv_Velocidad]
GO
ALTER TABLE [dbo].[ServicioCable]  WITH CHECK ADD  CONSTRAINT [CK_SC_Tipo] CHECK  (([TipoServicio]=(2) OR [TipoServicio]=(1)))
GO
ALTER TABLE [dbo].[ServicioCable] CHECK CONSTRAINT [CK_SC_Tipo]
GO
ALTER TABLE [dbo].[ServicioInternet]  WITH CHECK ADD  CONSTRAINT [CK_SI_Velocidad] CHECK  (([VelocidadMbps]>=(15) AND [VelocidadMbps]<=(50) AND [VelocidadMbps]%(5)=(0)))
GO
ALTER TABLE [dbo].[ServicioInternet] CHECK CONSTRAINT [CK_SI_Velocidad]
GO
/****** Objeto: StoredProcedure [dbo].[usp_Alarma_ClientesPorCobrar] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- SP: ALARMA DE COBRO MENSUAL
-- Detecta clientes a los que les toca pagar el mes consultado
-- =====================================================
CREATE   PROCEDURE [dbo].[usp_Alarma_ClientesPorCobrar]
    @Mes  TINYINT  = NULL,
    @Anio SMALLINT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Por defecto, el mes/año actual
    IF @Mes  IS NULL SET @Mes  = MONTH(GETDATE());
    IF @Anio IS NULL SET @Anio = YEAR(GETDATE());

    DECLARE @FechaConsulta DATE = DATEFROMPARTS(@Anio, @Mes, 1);
    DECLARE @HoyDate       DATE = CAST(GETDATE() AS DATE);

    ;WITH
    -- Clientes con servicios activos
    ClientesConServicios AS (
        SELECT DISTINCT c.IdCliente, c.Codigo, c.Nombre,
               c.Telefono, c.Correo,
               ec.Nombre AS EstadoCliente,
               c.IdEstadoCliente
        FROM dbo.Cliente c
        INNER JOIN dbo.EstadoCliente ec ON ec.IdEstadoCliente = c.IdEstadoCliente
        WHERE c.Activo = 1
          AND (
               EXISTS (SELECT 1 FROM dbo.ServicioInternet si
                       WHERE si.IdCliente = c.IdCliente AND si.Activo = 1)
            OR EXISTS (SELECT 1 FROM dbo.ServicioCable sc
                       WHERE sc.IdCliente = c.IdCliente AND sc.Activo = 1)
          )
    ),
    -- Clientes cubiertos por pago anticipado en el mes consultado
    CubiertosAnticipado AS (
        SELECT DISTINCT f.IdCliente
        FROM dbo.Factura f
        WHERE f.EsPagoAnticipado = 1
          AND f.Activo           = 1
          AND f.IdEstado         IN (1, 2)
          AND DATEFROMPARTS(f.AnioCobro, f.MesCobro, 1) <= @FechaConsulta
          AND DATEADD(MONTH, f.MesesPagados - 1,
                      DATEFROMPARTS(f.AnioCobro, f.MesCobro, 1)) >= @FechaConsulta
    ),
    -- Estado de factura del mes consultado por cliente
    FacturaDelMes AS (
        SELECT f.IdCliente, f.IdFactura,
               f.NumeroFactura, f.Serie, f.Fecha,
               f.Total,
               f.IdEstado,
               -- saldo pendiente
               f.Total - ISNULL((
                   SELECT SUM(p.Monto) FROM dbo.Pago p WHERE p.IdFactura = f.IdFactura
               ), 0) AS SaldoPendiente
        FROM dbo.Factura f
        WHERE f.MesCobro  = @Mes
          AND f.AnioCobro = @Anio
          AND f.Activo    = 1
          AND f.IdEstado  <> 4
    ),
    -- Costos vigentes de los servicios para los clientes (snapshot del costo pactado)
    CostoMensualCliente AS (
        SELECT c.IdCliente,
               ISNULL((SELECT si.Costo FROM dbo.ServicioInternet si
                       WHERE si.IdCliente = c.IdCliente AND si.Activo = 1), 0)
             + ISNULL((SELECT sc.Costo FROM dbo.ServicioCable sc
                       WHERE sc.IdCliente = c.IdCliente AND sc.Activo = 1), 0)
               AS CostoBase,
               -- Tiene ambos servicios?
               CASE
                   WHEN EXISTS (SELECT 1 FROM dbo.ServicioInternet si
                                WHERE si.IdCliente = c.IdCliente AND si.Activo = 1)
                    AND EXISTS (SELECT 1 FROM dbo.ServicioCable sc
                                WHERE sc.IdCliente = c.IdCliente AND sc.Activo = 1)
                   THEN 1 ELSE 0
               END AS TieneAmbos
        FROM ClientesConServicios c
    )
    SELECT
        c.IdCliente, c.Codigo, c.Nombre, c.Telefono, c.Correo,
        c.EstadoCliente,
        -- Costo estimado con descuento si tiene ambos servicios
        CAST(
            cm.CostoBase * (CASE WHEN cm.TieneAmbos = 1 THEN 0.90 ELSE 1.00 END)
            AS DECIMAL(10,2)
        ) AS MontoAPagar,
        cm.TieneAmbos AS TieneDescuentoPaquete,

        -- Datos de la factura del mes (si ya fue generada)
        f.IdFactura,
        f.NumeroFactura,
        f.Serie,
        f.Fecha       AS FechaFactura,
        f.Total       AS TotalFactura,
        f.SaldoPendiente,
        f.IdEstado    AS IdEstadoFactura,

        -- Cobertura por pago anticipado
        CASE WHEN ca.IdCliente IS NOT NULL THEN 1 ELSE 0 END AS CubiertoAnticipado,

        -- Estado de cobro
        CASE
            WHEN ca.IdCliente IS NOT NULL THEN 'Cubierto por anticipado'
            WHEN f.IdEstado = 2 THEN 'Pagado'
            WHEN f.IdEstado = 3 THEN 'Bloqueado por morosidad'
            WHEN f.IdFactura IS NULL THEN 'Por facturar'
            WHEN f.SaldoPendiente > 0 AND f.SaldoPendiente < f.Total THEN 'Pago parcial'
            ELSE 'Pendiente de pago'
        END AS EstadoCobro,

        -- Días vencido (si la factura tiene mes anterior al actual)
        CASE
            WHEN @FechaConsulta < @HoyDate AND f.IdEstado IN (1,3)
            THEN DATEDIFF(DAY, EOMONTH(@FechaConsulta), @HoyDate)
            ELSE 0
        END AS DiasVencido

    FROM ClientesConServicios   c
    INNER JOIN CostoMensualCliente cm ON cm.IdCliente = c.IdCliente
    LEFT  JOIN FacturaDelMes      f  ON f.IdCliente  = c.IdCliente
    LEFT  JOIN CubiertosAnticipado ca ON ca.IdCliente = c.IdCliente
    -- Excluir solo los pagados completos: la alarma muestra los demás
    WHERE NOT (f.IdEstado = 2)
    ORDER BY
        CASE
            WHEN ca.IdCliente IS NOT NULL THEN 99   -- al final los cubiertos
            WHEN f.IdEstado = 3 THEN 1              -- bloqueados primero
            WHEN f.SaldoPendiente > 0 AND f.SaldoPendiente < f.Total THEN 2
            WHEN f.IdFactura IS NULL THEN 3         -- por facturar
            ELSE 4                                  -- pendiente normal
        END,
        c.Nombre;
END

GO
/****** Objeto: StoredProcedure [dbo].[usp_Alarma_ResumenMes] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_Alarma_ResumenMes]
    @Mes  TINYINT  = NULL,
    @Anio SMALLINT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @Mes  IS NULL SET @Mes  = MONTH(GETDATE());
    IF @Anio IS NULL SET @Anio = YEAR(GETDATE());

    ;WITH
    -- 1) Precalcular el total pagado de cada factura del mes
    FacturasMes AS (
        SELECT f.IdCliente, f.IdFactura, f.IdEstado, f.Total,
               ISNULL((SELECT SUM(p.Monto) FROM dbo.Pago p
                       WHERE p.IdFactura = f.IdFactura), 0) AS TotalPagado
        FROM dbo.Factura f
        WHERE f.MesCobro  = @Mes
          AND f.AnioCobro = @Anio
          AND f.Activo    = 1
          AND f.IdEstado  <> 4
    ),
    -- 2) Clientes con servicios activos
    ClientesActivos AS (
        SELECT c.IdCliente
        FROM dbo.Cliente c
        WHERE c.Activo = 1
          AND (
                EXISTS (SELECT 1 FROM dbo.ServicioInternet si
                        WHERE si.IdCliente = c.IdCliente AND si.Activo = 1)
             OR EXISTS (SELECT 1 FROM dbo.ServicioCable sc
                        WHERE sc.IdCliente = c.IdCliente AND sc.Activo = 1)
          )
    )
    -- 3) Ya sin subconsultas dentro del SUM
    SELECT
        COUNT(DISTINCT c.IdCliente)                                AS ClientesTotales,
        SUM(CASE WHEN f.IdEstado = 2 THEN 1 ELSE 0 END)            AS ClientesPagados,
        SUM(CASE WHEN f.IdFactura IS NULL THEN 1 ELSE 0 END)       AS ClientesPorFacturar,
        SUM(CASE WHEN f.IdEstado = 1 THEN 1 ELSE 0 END)            AS ClientesPendientes,
        SUM(CASE WHEN f.IdEstado = 3 THEN 1 ELSE 0 END)            AS ClientesBloqueados,
        ISNULL(SUM(CASE WHEN f.IdEstado = 2 THEN f.Total ELSE 0 END), 0)
            AS MontoCobrado,
        ISNULL(SUM(CASE WHEN f.IdEstado IN (1,3)
                        THEN f.Total - f.TotalPagado
                        ELSE 0 END), 0)
            AS MontoPendiente
    FROM ClientesActivos c
    LEFT JOIN FacturasMes f ON f.IdCliente = c.IdCliente;
END

GO
/****** Objeto: StoredProcedure [dbo].[usp_Cliente_Delete] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Borrado LÓGICO, nunca físico: el cliente tiene facturas/pagos asociados
CREATE   PROCEDURE [dbo].[usp_Cliente_Delete]
    @IdCliente INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE dbo.Cliente
    SET Activo = 0, IdEstadoCliente = 0, FechaModificacion = SYSDATETIME()
    WHERE IdCliente = @IdCliente;

    IF @@ROWCOUNT = 0
        RAISERROR('Cliente no encontrado.', 16, 1);
END

GO
/****** Objeto: StoredProcedure [dbo].[usp_Cliente_GetAll] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_Cliente_GetAll]
    @SoloActivos BIT = 1
AS
BEGIN
    SET NOCOUNT ON;
    SELECT c.IdCliente, c.Codigo, c.Nombre, c.FechaAlta, c.Direccion,
           c.Correo, c.Telefono, c.IdEstadoCliente, e.Nombre AS Estado, c.Activo
    FROM dbo.Cliente c
    INNER JOIN dbo.EstadoCliente e ON e.IdEstadoCliente = c.IdEstadoCliente
    WHERE (@SoloActivos = 0 OR c.Activo = 1)
    ORDER BY c.Nombre;
END

GO
/****** Objeto: StoredProcedure [dbo].[usp_Cliente_GetById] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_Cliente_GetById]
    @IdCliente INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT c.IdCliente, c.Codigo, c.Nombre, c.FechaAlta, c.Direccion,
           c.Correo, c.Telefono, c.IdEstadoCliente, e.Nombre AS Estado, c.Activo
    FROM dbo.Cliente c
    INNER JOIN dbo.EstadoCliente e ON e.IdEstadoCliente = c.IdEstadoCliente
    WHERE c.IdCliente = @IdCliente;
END

GO
/****** Objeto: StoredProcedure [dbo].[usp_Cliente_Insert] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================
-- 02_SP_Cliente_ABC.sql
-- ============================================

CREATE   PROCEDURE [dbo].[usp_Cliente_Insert]
    @Codigo          VARCHAR(20),
    @Nombre          NVARCHAR(150),
    @FechaAlta       DATE          = NULL,
    @Direccion       NVARCHAR(250) = NULL,
    @Correo          NVARCHAR(120) = NULL,
    @Telefono        VARCHAR(20)   = NULL,
    @IdEstadoCliente TINYINT       = 1,
    @IdCliente       INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        IF EXISTS (SELECT 1 FROM dbo.Cliente WHERE Codigo = @Codigo)
        BEGIN
            RAISERROR('El código de cliente ya existe.', 16, 1);
            RETURN;
        END

        INSERT INTO dbo.Cliente (Codigo, Nombre, FechaAlta, Direccion, Correo, Telefono, IdEstadoCliente)
        VALUES (@Codigo, @Nombre, ISNULL(@FechaAlta, CAST(GETDATE() AS DATE)),
                @Direccion, @Correo, @Telefono, @IdEstadoCliente);

        SET @IdCliente = SCOPE_IDENTITY();
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END

GO
/****** Objeto: StoredProcedure [dbo].[usp_Cliente_Update] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_Cliente_Update]
    @IdCliente       INT,
    @Nombre          NVARCHAR(150),
    @Direccion       NVARCHAR(250) = NULL,
    @Correo          NVARCHAR(120) = NULL,
    @Telefono        VARCHAR(20)   = NULL,
    @IdEstadoCliente TINYINT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        UPDATE dbo.Cliente
        SET Nombre = @Nombre, Direccion = @Direccion, Correo = @Correo,
            Telefono = @Telefono, IdEstadoCliente = @IdEstadoCliente,
            FechaModificacion = SYSDATETIME()
        WHERE IdCliente = @IdCliente AND Activo = 1;

        IF @@ROWCOUNT = 0
            RAISERROR('Cliente no encontrado o inactivo.', 16, 1);
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END

GO
/****** Objeto: StoredProcedure [dbo].[usp_ClienteServicio_AsignarCable] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_ClienteServicio_AsignarCable]
    @IdCliente           INT,
    @IdServicio          INT,
    @DireccionInstalacion NVARCHAR(250) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        IF NOT EXISTS (
            SELECT 1 FROM dbo.Cliente
            WHERE IdCliente = @IdCliente AND Activo = 1
        )
            RAISERROR('Cliente no encontrado o inactivo.', 16, 1);

        DECLARE @TipoServicioCable TINYINT, @Costo DECIMAL(10,2);

        SELECT @TipoServicioCable = TipoServicioCable,
               @Costo             = CostoBase
        FROM dbo.Servicio
        WHERE IdServicio    = @IdServicio
          AND IdTipoServicio = 2           -- Solo servicios de Cable
          AND Activo         = 1;

        IF @Costo IS NULL
            RAISERROR('Servicio de Cable no encontrado, inactivo o tipo incorrecto.', 16, 1);

        IF EXISTS (SELECT 1 FROM dbo.ServicioCable WHERE IdCliente = @IdCliente)
        BEGIN
            UPDATE dbo.ServicioCable
            SET IdServicio          = @IdServicio,
                TipoServicio        = @TipoServicioCable,
                DireccionInstalacion = ISNULL(@DireccionInstalacion, DireccionInstalacion),
                Costo               = @Costo,
                Activo              = 1
            WHERE IdCliente = @IdCliente;
        END
        ELSE
        BEGIN
            INSERT INTO dbo.ServicioCable
                (IdCliente, IdServicio, DireccionInstalacion, TipoServicio, Costo, FechaContratacion)
            VALUES
                (@IdCliente, @IdServicio, @DireccionInstalacion,
                 @TipoServicioCable, @Costo, CAST(GETDATE() AS DATE));
        END
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END

GO
/****** Objeto: StoredProcedure [dbo].[usp_ClienteServicio_AsignarInternet] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_ClienteServicio_AsignarInternet]
    @IdCliente  INT,
    @IdServicio INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        -- Validar cliente activo
        IF NOT EXISTS (
            SELECT 1 FROM dbo.Cliente
            WHERE IdCliente = @IdCliente AND Activo = 1
        )
            RAISERROR('Cliente no encontrado o inactivo.', 16, 1);

        -- Tomar snapshot del costo y velocidad del catálogo
        DECLARE @VelocidadMbps INT, @Costo DECIMAL(10,2);

        SELECT @VelocidadMbps = VelocidadMbps,
               @Costo         = CostoBase
        FROM dbo.Servicio
        WHERE IdServicio    = @IdServicio
          AND IdTipoServicio = 1           -- Solo servicios de Internet
          AND Activo         = 1;

        IF @Costo IS NULL
            RAISERROR('Servicio de Internet no encontrado, inactivo o tipo incorrecto.', 16, 1);

        -- Upsert: si ya tiene internet lo actualiza, si no lo inserta
        IF EXISTS (SELECT 1 FROM dbo.ServicioInternet WHERE IdCliente = @IdCliente)
        BEGIN
            UPDATE dbo.ServicioInternet
            SET IdServicio    = @IdServicio,
                VelocidadMbps = @VelocidadMbps,
                Costo         = @Costo,
                Activo        = 1           -- Reactiva si estaba quitado
            WHERE IdCliente = @IdCliente;
        END
        ELSE
        BEGIN
            INSERT INTO dbo.ServicioInternet
                (IdCliente, IdServicio, VelocidadMbps, Costo, FechaContratacion)
            VALUES
                (@IdCliente, @IdServicio, @VelocidadMbps, @Costo, CAST(GETDATE() AS DATE));
        END
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END

GO
/****** Objeto: StoredProcedure [dbo].[usp_ClienteServicio_GetByCliente] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_ClienteServicio_GetByCliente]
    @IdCliente INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Result 1: Datos del cliente
    SELECT c.IdCliente, c.Codigo, c.Nombre,
           c.Direccion, c.Correo, c.Telefono,
           e.Nombre AS EstadoNombre
    FROM dbo.Cliente c
    INNER JOIN dbo.EstadoCliente e ON e.IdEstadoCliente = c.IdEstadoCliente
    WHERE c.IdCliente = @IdCliente AND c.Activo = 1;

    -- Result 2: Servicio Internet activo
    SELECT si.IdServicioInternet, si.IdCliente, si.IdServicio,
           s.Nombre  AS NombreServicio,
           si.VelocidadMbps, si.Costo, si.FechaContratacion
    FROM dbo.ServicioInternet si
    INNER JOIN dbo.Servicio s ON s.IdServicio = si.IdServicio
    WHERE si.IdCliente = @IdCliente AND si.Activo = 1;

    -- Result 3: Servicio Cable activo
    SELECT sc.IdServicioCable, sc.IdCliente, sc.IdServicio,
           s.Nombre  AS NombreServicio,
           sc.DireccionInstalacion,
           sc.TipoServicio, sc.Costo, sc.FechaContratacion
    FROM dbo.ServicioCable sc
    INNER JOIN dbo.Servicio s ON s.IdServicio = sc.IdServicio
    WHERE sc.IdCliente = @IdCliente AND sc.Activo = 1;
END

GO
/****** Objeto: StoredProcedure [dbo].[usp_ClienteServicio_QuitarCable] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_ClienteServicio_QuitarCable]
    @IdCliente INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE dbo.ServicioCable
    SET Activo = 0
    WHERE IdCliente = @IdCliente AND Activo = 1;

    IF @@ROWCOUNT = 0
        RAISERROR('El cliente no tiene servicio de Cable activo.', 16, 1);
END

GO
/****** Objeto: StoredProcedure [dbo].[usp_ClienteServicio_QuitarInternet] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_ClienteServicio_QuitarInternet]
    @IdCliente INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE dbo.ServicioInternet
    SET Activo = 0
    WHERE IdCliente = @IdCliente AND Activo = 1;

    IF @@ROWCOUNT = 0
        RAISERROR('El cliente no tiene servicio de Internet activo.', 16, 1);
END

GO
/****** Objeto: StoredProcedure [dbo].[usp_Empleado_Delete] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_Empleado_Delete]
    @IdEmpleado INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE dbo.Empleado SET Activo = 0, FechaModificacion = SYSDATETIME()
    WHERE IdEmpleado = @IdEmpleado;
END

GO
/****** Objeto: StoredProcedure [dbo].[usp_Empleado_GetAll] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_Empleado_GetAll]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT e.IdEmpleado, e.Codigo, e.Nombres, e.Apellidos, e.DPI,
           e.IdTipoPuesto, tp.Nombre AS NombrePuesto,
           e.SalarioBase, e.FechaIngreso, e.Activo
    FROM dbo.Empleado e
    INNER JOIN dbo.TipoPuesto tp ON tp.IdTipoPuesto = e.IdTipoPuesto
    WHERE e.Activo = 1
    ORDER BY e.Nombres, e.Apellidos;
END

GO
/****** Objeto: StoredProcedure [dbo].[usp_Empleado_Insert] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- SP: ABC de Empleados
-- =====================================================
CREATE   PROCEDURE [dbo].[usp_Empleado_Insert]
    @Codigo       VARCHAR(20),
    @Nombres      NVARCHAR(100),
    @Apellidos    NVARCHAR(100),
    @DPI          VARCHAR(20)   = NULL,
    @IdTipoPuesto INT,
    @SalarioBase  DECIMAL(10,2),
    @FechaIngreso DATE,
    @IdEmpleado   INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        IF EXISTS (SELECT 1 FROM dbo.Empleado WHERE Codigo = @Codigo)
        BEGIN
            RAISERROR('El código de empleado ya existe.', 16, 1);
            RETURN;
        END

        INSERT INTO dbo.Empleado
            (Codigo, Nombres, Apellidos, DPI, IdTipoPuesto, SalarioBase, FechaIngreso)
        VALUES
            (@Codigo, @Nombres, @Apellidos, @DPI, @IdTipoPuesto, @SalarioBase, @FechaIngreso);

        SET @IdEmpleado = SCOPE_IDENTITY();
    END TRY
    BEGIN CATCH THROW; END CATCH
END

GO
/****** Objeto: StoredProcedure [dbo].[usp_Empleado_Update] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_Empleado_Update]
    @IdEmpleado   INT,
    @Nombres      NVARCHAR(100),
    @Apellidos    NVARCHAR(100),
    @DPI          VARCHAR(20) = NULL,
    @IdTipoPuesto INT,
    @SalarioBase  DECIMAL(10,2)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE dbo.Empleado
    SET Nombres = @Nombres, Apellidos = @Apellidos, DPI = @DPI,
        IdTipoPuesto = @IdTipoPuesto, SalarioBase = @SalarioBase,
        FechaModificacion = SYSDATETIME()
    WHERE IdEmpleado = @IdEmpleado AND Activo = 1;

    IF @@ROWCOUNT = 0
        RAISERROR('Empleado no encontrado.', 16, 1);
END

GO
/****** Objeto: StoredProcedure [dbo].[usp_Factura_Anular] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- SP: ANULAR FACTURA (borrado lógico cambiando estado)
-- =====================================================
CREATE   PROCEDURE [dbo].[usp_Factura_Anular]
    @IdFactura INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        -- No se puede anular si ya tiene pagos
        IF EXISTS (SELECT 1 FROM dbo.Pago WHERE IdFactura = @IdFactura)
        BEGIN
            RAISERROR('No se puede anular una factura con pagos registrados.', 16, 1);
            RETURN;
        END

        UPDATE dbo.Factura
        SET IdEstado = 4   -- Anulada
        WHERE IdFactura = @IdFactura AND IdEstado <> 4;

        IF @@ROWCOUNT = 0
            RAISERROR('Factura no encontrada o ya fue anulada.', 16, 1);
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END

GO
/****** Objeto: StoredProcedure [dbo].[usp_Factura_Generar] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Factura_Generar]
    @IdCliente        INT,
    @MesCobro         TINYINT,
    @AnioCobro        SMALLINT,
    @Serie            VARCHAR(10)  = 'A',
    @EsPagoAnticipado BIT          = 0,
    @IdFactura        INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        -- 1) Validar cliente activo
        IF NOT EXISTS (
            SELECT 1 FROM dbo.Cliente
            WHERE IdCliente = @IdCliente AND Activo = 1
        )
        BEGIN
            RAISERROR('Cliente no encontrado o inactivo.', 16, 1);
            ROLLBACK; RETURN;
        END

        -- 2) Validar que no exista factura del mismo mes/año/cliente
        IF EXISTS (
            SELECT 1 FROM dbo.Factura
            WHERE IdCliente = @IdCliente
              AND MesCobro  = @MesCobro
              AND AnioCobro = @AnioCobro
              AND IdEstado  <> 4
        )
        BEGIN
            RAISERROR('Ya existe una factura para este cliente en ese período.', 16, 1);
            ROLLBACK; RETURN;
        END

        -- 3) NUEVA REGLA: validar que el mes no esté ya cubierto por pago anticipado
        --    (excepto si la factura nueva es anticipada también, esa cubre los siguientes 6 meses)
        IF @EsPagoAnticipado = 0
        BEGIN
            DECLARE @FechaConsulta DATE = DATEFROMPARTS(@AnioCobro, @MesCobro, 1);

            IF EXISTS (
                SELECT 1 FROM dbo.Factura f
                WHERE f.IdCliente        = @IdCliente
                  AND f.EsPagoAnticipado = 1
                  AND f.Activo           = 1
                  AND f.IdEstado         IN (1, 2)
                  AND DATEFROMPARTS(f.AnioCobro, f.MesCobro, 1) <= @FechaConsulta
                  AND DATEADD(MONTH, f.MesesPagados - 1,
                              DATEFROMPARTS(f.AnioCobro, f.MesCobro, 1)) >= @FechaConsulta
            )
            BEGIN
                DECLARE @MsgCobertura NVARCHAR(300) =
                    'Este mes ya está cubierto por un pago anticipado vigente del cliente. ' +
                    'No se debe generar factura adicional.';
                RAISERROR(@MsgCobertura, 16, 1);
                ROLLBACK; RETURN;
            END
        END

        -- ============== Resto del SP igual que antes ==============
        DECLARE @Subtotal       DECIMAL(10,2) = 0;
        DECLARE @MontoDescuento DECIMAL(10,2) = 0;
        DECLARE @Total          DECIMAL(10,2) = 0;
        DECLARE @TieneInternet  BIT           = 0;
        DECLARE @TieneCable     BIT           = 0;
        DECLARE @MesesPagados   TINYINT       = CASE WHEN @EsPagoAnticipado = 1 THEN 6 ELSE 1 END;

        DECLARE @IdSrvInternet  INT, @CostoInternet DECIMAL(10,2), @NombreInternet NVARCHAR(100);
        SELECT @IdSrvInternet  = si.IdServicio,
               @CostoInternet  = si.Costo,
               @NombreInternet = s.Nombre
        FROM dbo.ServicioInternet si
        INNER JOIN dbo.Servicio s ON s.IdServicio = si.IdServicio
        WHERE si.IdCliente = @IdCliente AND si.Activo = 1;

        IF @IdSrvInternet IS NOT NULL
        BEGIN
            SET @TieneInternet = 1;
            SET @Subtotal      = @Subtotal + @CostoInternet;
        END

        DECLARE @IdSrvCable INT, @CostoCable DECIMAL(10,2), @NombreCable NVARCHAR(100);
        SELECT @IdSrvCable  = sc.IdServicio,
               @CostoCable  = sc.Costo,
               @NombreCable = s.Nombre
        FROM dbo.ServicioCable sc
        INNER JOIN dbo.Servicio s ON s.IdServicio = sc.IdServicio
        WHERE sc.IdCliente = @IdCliente AND sc.Activo = 1;

        IF @IdSrvCable IS NOT NULL
        BEGIN
            SET @TieneCable = 1;
            SET @Subtotal   = @Subtotal + @CostoCable;
        END

        IF @TieneInternet = 0 AND @TieneCable = 0
        BEGIN
            RAISERROR('El cliente no tiene servicios activos para facturar.', 16, 1);
            ROLLBACK; RETURN;
        END

        IF @EsPagoAnticipado = 1
            SET @Subtotal = @Subtotal * 6;

        DECLARE @PctPaqueteDoble  DECIMAL(5,2) = 0;
        DECLARE @PctPagoAnticipado DECIMAL(5,2) = 0;
        DECLARE @MontoPaquete     DECIMAL(10,2) = 0;
        DECLARE @MontoAnticipado  DECIMAL(10,2) = 0;

        IF @TieneInternet = 1 AND @TieneCable = 1
        BEGIN
            SELECT @PctPaqueteDoble = Porcentaje
            FROM dbo.TipoDescuento
            WHERE Nombre = 'Paquete Doble' AND Activo = 1;
            SET @MontoPaquete = ROUND(@Subtotal * @PctPaqueteDoble / 100, 2);
        END

        IF @EsPagoAnticipado = 1
        BEGIN
            SELECT @PctPagoAnticipado = Porcentaje
            FROM dbo.TipoDescuento
            WHERE Nombre = 'Pago Anticipado' AND Activo = 1;
            SET @MontoAnticipado = ROUND(@Subtotal * @PctPagoAnticipado / 100, 2);
        END

        SET @MontoDescuento = @MontoPaquete + @MontoAnticipado;
        SET @Total          = @Subtotal - @MontoDescuento;

        DECLARE @NumeroFactura VARCHAR(20);
        DECLARE @Correlativo   INT;
        SELECT @Correlativo = ISNULL(MAX(CAST(NumeroFactura AS INT)), 0) + 1
        FROM dbo.Factura
        WHERE Serie = @Serie AND ISNUMERIC(NumeroFactura) = 1;
        SET @NumeroFactura = RIGHT('00000000' + CAST(@Correlativo AS VARCHAR), 8);

        INSERT INTO dbo.Factura
            (NumeroFactura, Serie, IdCliente, MesCobro, AnioCobro,
             Subtotal, MontoDescuento, Total, EsPagoAnticipado, MesesPagados)
        VALUES
            (@NumeroFactura, @Serie, @IdCliente, @MesCobro, @AnioCobro,
             @Subtotal, @MontoDescuento, @Total, @EsPagoAnticipado, @MesesPagados);

        SET @IdFactura = SCOPE_IDENTITY();

        IF @TieneInternet = 1
        BEGIN
            DECLARE @CostoInternetFinal DECIMAL(10,2) =
                CASE WHEN @EsPagoAnticipado = 1 THEN @CostoInternet * 6 ELSE @CostoInternet END;
            INSERT INTO dbo.DetalleFactura
                (IdFactura, IdServicio, TipoServicio, CostoMensual, Cantidad, Subtotal)
            VALUES
                (@IdFactura, @IdSrvInternet, @NombreInternet,
                 @CostoInternet, @MesesPagados, @CostoInternetFinal);
        END

        IF @TieneCable = 1
        BEGIN
            DECLARE @CostoCableFinal DECIMAL(10,2) =
                CASE WHEN @EsPagoAnticipado = 1 THEN @CostoCable * 6 ELSE @CostoCable END;
            INSERT INTO dbo.DetalleFactura
                (IdFactura, IdServicio, TipoServicio, CostoMensual, Cantidad, Subtotal)
            VALUES
                (@IdFactura, @IdSrvCable, @NombreCable,
                 @CostoCable, @MesesPagados, @CostoCableFinal);
        END

        IF @MontoPaquete > 0
        BEGIN
            INSERT INTO dbo.DescuentoFactura (IdFactura, IdTipoDescuento, Porcentaje, MontoDescuento)
            SELECT @IdFactura, IdTipoDescuento, @PctPaqueteDoble, @MontoPaquete
            FROM dbo.TipoDescuento WHERE Nombre = 'Paquete Doble';
        END

        IF @MontoAnticipado > 0
        BEGIN
            INSERT INTO dbo.DescuentoFactura (IdFactura, IdTipoDescuento, Porcentaje, MontoDescuento)
            SELECT @IdFactura, IdTipoDescuento, @PctPagoAnticipado, @MontoAnticipado
            FROM dbo.TipoDescuento WHERE Nombre = 'Pago Anticipado';
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END

GO
/****** Objeto: StoredProcedure [dbo].[usp_Factura_GetAll] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- SP: LISTAR FACTURAS (con filtros opcionales)
-- =====================================================
CREATE   PROCEDURE [dbo].[usp_Factura_GetAll]
    @IdCliente  INT     = NULL,
    @IdEstado   TINYINT = NULL,
    @AnioCobro  SMALLINT = NULL,
    @MesCobro   TINYINT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SELECT f.IdFactura, f.NumeroFactura, f.Serie, f.Fecha,
           f.IdCliente, c.Codigo AS CodigoCliente, c.Nombre AS NombreCliente,
           f.MesCobro, f.AnioCobro,
           f.Subtotal, f.MontoDescuento, f.Total,
           f.IdEstado,
           CASE f.IdEstado
               WHEN 1 THEN 'Pendiente'
               WHEN 2 THEN 'Pagada'
               WHEN 3 THEN 'Bloqueada'
               WHEN 4 THEN 'Anulada'
           END AS EstadoNombre,
           f.EsPagoAnticipado, f.MesesPagados
    FROM dbo.Factura f
    INNER JOIN dbo.Cliente c ON c.IdCliente = f.IdCliente
    WHERE f.Activo = 1
      AND (@IdCliente IS NULL OR f.IdCliente = @IdCliente)
      AND (@IdEstado  IS NULL OR f.IdEstado  = @IdEstado)
      AND (@AnioCobro IS NULL OR f.AnioCobro = @AnioCobro)
      AND (@MesCobro  IS NULL OR f.MesCobro  = @MesCobro)
    ORDER BY f.Fecha DESC, f.IdFactura DESC;
END

GO
/****** Objeto: StoredProcedure [dbo].[usp_Factura_GetById] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- SP: OBTENER FACTURA CON DETALLE
-- Devuelve 3 result sets: cabecera, detalle, descuentos
-- =====================================================
CREATE   PROCEDURE [dbo].[usp_Factura_GetById]
    @IdFactura INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Result 1: cabecera
    SELECT f.IdFactura, f.NumeroFactura, f.Serie, f.Fecha,
           f.IdCliente, c.Codigo AS CodigoCliente, c.Nombre AS NombreCliente,
           c.Direccion, c.Correo, c.Telefono,
           f.MesCobro, f.AnioCobro,
           f.Subtotal, f.MontoDescuento, f.Total,
           f.IdEstado,
           CASE f.IdEstado
               WHEN 1 THEN 'Pendiente'
               WHEN 2 THEN 'Pagada'
               WHEN 3 THEN 'Bloqueada'
               WHEN 4 THEN 'Anulada'
           END AS EstadoNombre,
           f.EsPagoAnticipado, f.MesesPagados, f.FechaCreacion
    FROM dbo.Factura f
    INNER JOIN dbo.Cliente c ON c.IdCliente = f.IdCliente
    WHERE f.IdFactura = @IdFactura;

    -- Result 2: detalle
    SELECT df.IdDetalleFactura, df.IdServicio, df.TipoServicio,
           df.CostoMensual, df.Cantidad, df.Subtotal
    FROM dbo.DetalleFactura df
    WHERE df.IdFactura = @IdFactura;

    -- Result 3: descuentos aplicados
    SELECT dfd.IdDescuentoFactura, td.Nombre AS TipoDescuento,
           dfd.Porcentaje, dfd.MontoDescuento
    FROM dbo.DescuentoFactura dfd
    INNER JOIN dbo.TipoDescuento td ON td.IdTipoDescuento = dfd.IdTipoDescuento
    WHERE dfd.IdFactura = @IdFactura;
END

GO
/****** Objeto: StoredProcedure [dbo].[usp_Morosidad_AplicarSuspension] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- SP: APLICAR SUSPENSIÓN POR MOROSIDAD
-- Reglas:
--  - Para clientes con 3+ meses sin pagar:
--      1) Bloquea las facturas pendientes (estado=3)
--      2) Suspende servicios Internet/Cable (Activo=0)
--      3) Cambia estado del cliente a Suspendido (2)
-- =====================================================
CREATE   PROCEDURE [dbo].[usp_Morosidad_AplicarSuspension]
    @FechaCorte         DATE = NULL,
    @ClientesAfectados  INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        IF @FechaCorte IS NULL
            SET @FechaCorte = CAST(GETDATE() AS DATE);

        DECLARE @MesActual TINYINT  = MONTH(@FechaCorte);
        DECLARE @AnioActual SMALLINT = YEAR(@FechaCorte);

        -- Tabla temporal con los clientes a suspender (3+ meses sin pagar)
        CREATE TABLE #ASuspender (IdCliente INT PRIMARY KEY);

        ;WITH FacturasVencidas AS (
            SELECT f.IdCliente, f.IdFactura,
                   f.Total - ISNULL((
                       SELECT SUM(Monto) FROM dbo.Pago WHERE IdFactura = f.IdFactura
                   ), 0) AS SaldoPendiente
            FROM dbo.Factura f
            WHERE f.Activo   = 1
              AND f.IdEstado IN (1, 3)
              AND DATEFROMPARTS(f.AnioCobro, f.MesCobro, 1)
                  < DATEFROMPARTS(@AnioActual, @MesActual, 1)
        ),
        Conteo AS (
            SELECT IdCliente, COUNT(*) AS MesesAdeudados
            FROM FacturasVencidas
            WHERE SaldoPendiente > 0
            GROUP BY IdCliente
        )
        INSERT INTO #ASuspender (IdCliente)
        SELECT IdCliente FROM Conteo WHERE MesesAdeudados >= 3;

        SELECT @ClientesAfectados = COUNT(*) FROM #ASuspender;

        -- 1) Bloquear facturas pendientes de los clientes morosos
        UPDATE f
        SET f.IdEstado = 3      -- Bloqueada
        FROM dbo.Factura f
        INNER JOIN #ASuspender s ON s.IdCliente = f.IdCliente
        WHERE f.Activo   = 1
          AND f.IdEstado = 1;    -- solo las pendientes

        -- 2) Suspender servicio Internet
        UPDATE si
        SET si.Activo = 0
        FROM dbo.ServicioInternet si
        INNER JOIN #ASuspender s ON s.IdCliente = si.IdCliente
        WHERE si.Activo = 1;

        -- 3) Suspender servicio Cable
        UPDATE sc
        SET sc.Activo = 0
        FROM dbo.ServicioCable sc
        INNER JOIN #ASuspender s ON s.IdCliente = sc.IdCliente
        WHERE sc.Activo = 1;

        -- 4) Marcar cliente como Suspendido (estado=2)
        UPDATE c
        SET c.IdEstadoCliente   = 2,
            c.FechaModificacion = SYSDATETIME()
        FROM dbo.Cliente c
        INNER JOIN #ASuspender s ON s.IdCliente = c.IdCliente;

        DROP TABLE #ASuspender;
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END

GO
/****** Objeto: StoredProcedure [dbo].[usp_Morosidad_Detectar] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- SP: DETECTAR CLIENTES MOROSOS
-- Reglas:
--  - Un cliente es moroso si tiene 2+ facturas consecutivas sin pagar
--  - Solo se evalúan facturas pendientes/bloqueadas anteriores al mes actual
--  - No se cuentan facturas anuladas ni del mes en curso
-- =====================================================
CREATE   PROCEDURE [dbo].[usp_Morosidad_Detectar]
    @FechaCorte DATE = NULL    -- por defecto la fecha actual
AS
BEGIN
    SET NOCOUNT ON;

    IF @FechaCorte IS NULL
        SET @FechaCorte = CAST(GETDATE() AS DATE);

    DECLARE @MesActual TINYINT = MONTH(@FechaCorte);
    DECLARE @AnioActual SMALLINT = YEAR(@FechaCorte);

    -- CTE: facturas pendientes/bloqueadas por cliente con saldo
    ;WITH FacturasVencidas AS (
        SELECT f.IdCliente, f.IdFactura,
               f.MesCobro, f.AnioCobro,
               f.Total - ISNULL((
                   SELECT SUM(Monto) FROM dbo.Pago WHERE IdFactura = f.IdFactura
               ), 0) AS SaldoPendiente,
               -- Convertimos mes/año a una fecha para poder ordenar correctamente
               DATEFROMPARTS(f.AnioCobro, f.MesCobro, 1) AS FechaPeriodo
        FROM dbo.Factura f
        WHERE f.Activo  = 1
          AND f.IdEstado IN (1, 3)        -- Pendiente o Bloqueada
          AND DATEFROMPARTS(f.AnioCobro, f.MesCobro, 1)
              < DATEFROMPARTS(@AnioActual, @MesActual, 1)  -- anteriores al mes actual
    ),
    ConSaldo AS (
        SELECT * FROM FacturasVencidas WHERE SaldoPendiente > 0
    ),
    -- Conteo de meses consecutivos sin pagar por cliente
    Conteo AS (
        SELECT IdCliente, COUNT(*) AS MesesAdeudados,
               SUM(SaldoPendiente) AS DeudaTotal,
               MIN(FechaPeriodo)   AS PrimerMesDeuda,
               MAX(FechaPeriodo)   AS UltimoMesDeuda
        FROM ConSaldo
        GROUP BY IdCliente
    )
    SELECT c.IdCliente, c.Codigo, c.Nombre,
           c.Telefono, c.Correo,
           ec.Nombre AS EstadoActual,
           cn.MesesAdeudados,
           cn.DeudaTotal,
           cn.PrimerMesDeuda,
           cn.UltimoMesDeuda,
           CASE
               WHEN cn.MesesAdeudados >= 3 THEN 'Suspender'
               WHEN cn.MesesAdeudados = 2 THEN 'Alerta'
               ELSE 'Al día'
           END AS AccionRequerida
    FROM Conteo cn
    INNER JOIN dbo.Cliente       c  ON c.IdCliente       = cn.IdCliente
    INNER JOIN dbo.EstadoCliente ec ON ec.IdEstadoCliente = c.IdEstadoCliente
    WHERE c.Activo = 1
    ORDER BY cn.MesesAdeudados DESC, cn.DeudaTotal DESC;
END

GO
/****** Objeto: StoredProcedure [dbo].[usp_Morosidad_ReactivarCliente] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- SP: REACTIVAR CLIENTE (cuando se ponen al día)
-- Reactiva servicios y vuelve estado a Activo si pagó todo
-- =====================================================
CREATE   PROCEDURE [dbo].[usp_Morosidad_ReactivarCliente]
    @IdCliente INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        -- Validar que ya no tenga facturas con saldo
        DECLARE @FacturasConSaldo INT;
        SELECT @FacturasConSaldo = COUNT(*)
        FROM dbo.Factura f
        WHERE f.IdCliente = @IdCliente
          AND f.Activo    = 1
          AND f.IdEstado IN (1, 3)
          AND (f.Total - ISNULL((
                SELECT SUM(Monto) FROM dbo.Pago WHERE IdFactura = f.IdFactura
              ), 0)) > 0;

        IF @FacturasConSaldo > 0
        BEGIN
            RAISERROR('El cliente aún tiene facturas con saldo pendiente. No puede reactivarse.', 16, 1);
            ROLLBACK; RETURN;
        END

        -- Reactivar servicios suspendidos
        UPDATE dbo.ServicioInternet SET Activo = 1
        WHERE IdCliente = @IdCliente AND Activo = 0;

        UPDATE dbo.ServicioCable SET Activo = 1
        WHERE IdCliente = @IdCliente AND Activo = 0;

        -- Cambiar estado del cliente a Activo
        UPDATE dbo.Cliente
        SET IdEstadoCliente   = 1,
            FechaModificacion = SYSDATETIME()
        WHERE IdCliente = @IdCliente;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END

GO
/****** Objeto: StoredProcedure [dbo].[usp_Nomina_Calcular] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- SP: CÁLCULO DE NÓMINA MENSUAL (al vuelo, sin guardar)
-- Reglas Guatemala:
--  - Bonificación incentivo: Q 250 (Decreto 78-89)
--  - Cuota IGSS laboral: 4.83% del salario base
--  - ISR estimado: si salario anual > Q 48,000 → 5% del excedente / 12
--  - Pasivo laboral mensual (provisión): 1/12 del salario por aguinaldo + bono 14
-- =====================================================
CREATE   PROCEDURE [dbo].[usp_Nomina_Calcular]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        e.IdEmpleado, e.Codigo,
        e.Nombres + ' ' + e.Apellidos AS NombreCompleto,
        tp.Nombre AS Puesto,
        e.FechaIngreso,

        e.SalarioBase,
        CAST(250.00 AS DECIMAL(10,2)) AS Bonificacion,
        e.SalarioBase + 250.00        AS TotalDevengado,

        -- IGSS: 4.83% del salario base
        CAST(e.SalarioBase * 0.0483 AS DECIMAL(10,2)) AS CuotaIGSS,

        -- ISR estimado mensual
        CAST(
            CASE WHEN e.SalarioBase * 12 > 48000
                 THEN ((e.SalarioBase * 12 - 48000) * 0.05) / 12
                 ELSE 0
            END
            AS DECIMAL(10,2)
        ) AS RetencionISR,

        -- Pasivo laboral mensual (aguinaldo 1/12 + bono 14 1/12)
        CAST((e.SalarioBase / 12) * 2 AS DECIMAL(10,2)) AS PasivoLaboralMensual,

        -- Líquido a pagar
        CAST(
            e.SalarioBase + 250.00
            - (e.SalarioBase * 0.0483)
            - (CASE WHEN e.SalarioBase * 12 > 48000
                    THEN ((e.SalarioBase * 12 - 48000) * 0.05) / 12
                    ELSE 0 END)
            AS DECIMAL(10,2)
        ) AS LiquidoAPagar

    FROM dbo.Empleado e
    INNER JOIN dbo.TipoPuesto tp ON tp.IdTipoPuesto = e.IdTipoPuesto
    WHERE e.Activo = 1
    ORDER BY tp.Nombre, e.Nombres;
END

GO
/****** Objeto: StoredProcedure [dbo].[usp_Pago_GetByFactura] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Pago_GetByFactura]
    @IdFactura INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT p.IdPago, p.IdFactura, p.FechaPago,
           p.Monto, p.MetodoPago, p.Referencia
    FROM dbo.Pago p
    WHERE p.IdFactura = @IdFactura
    ORDER BY p.FechaPago DESC;
END

GO
/****** Objeto: StoredProcedure [dbo].[usp_Pago_HistorialCliente] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Pago_HistorialCliente]
    @IdCliente INT,
    @Anio      SMALLINT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SELECT p.IdPago, p.IdFactura,
           f.NumeroFactura, f.Serie,
           f.MesCobro, f.AnioCobro,
           p.FechaPago, p.Monto, p.MetodoPago, p.Referencia
    FROM dbo.Pago p
    INNER JOIN dbo.Factura f ON f.IdFactura = p.IdFactura
    WHERE f.IdCliente = @IdCliente
      AND (@Anio IS NULL OR f.AnioCobro = @Anio)
    ORDER BY p.FechaPago DESC;
END

GO
/****** Objeto: StoredProcedure [dbo].[usp_Pago_Registrar] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Pago_Registrar]
    @IdFactura  INT,
    @Monto      DECIMAL(10,2),
    @MetodoPago VARCHAR(30),
    @Referencia VARCHAR(100) = NULL,
    @IdPago     INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        -- 1) Validar factura
        DECLARE @TotalFactura DECIMAL(10,2);
        DECLARE @IdEstado     TINYINT;

        SELECT @TotalFactura = Total,
               @IdEstado     = IdEstado
        FROM dbo.Factura
        WHERE IdFactura = @IdFactura AND Activo = 1;

        IF @TotalFactura IS NULL
        BEGIN
            RAISERROR('Factura no encontrada.', 16, 1);
            ROLLBACK; RETURN;
        END

        -- 2) No se puede pagar una anulada
        IF @IdEstado = 4
        BEGIN
            RAISERROR('No se puede pagar una factura anulada.', 16, 1);
            ROLLBACK; RETURN;
        END

        -- 3) No se puede pagar una ya pagada
        IF @IdEstado = 2
        BEGIN
            RAISERROR('La factura ya está pagada.', 16, 1);
            ROLLBACK; RETURN;
        END

        -- 4) Validar monto positivo
        IF @Monto <= 0
        BEGIN
            RAISERROR('El monto del pago debe ser mayor a cero.', 16, 1);
            ROLLBACK; RETURN;
        END

        -- 5) Calcular saldo pendiente actual
        DECLARE @TotalPagado DECIMAL(10,2);
        SELECT @TotalPagado = ISNULL(SUM(Monto), 0)
        FROM dbo.Pago WHERE IdFactura = @IdFactura;

        DECLARE @SaldoPendiente DECIMAL(10,2) = @TotalFactura - @TotalPagado;

        -- 6) Validar que no sobrepague
        IF @Monto > @SaldoPendiente
        BEGIN
            DECLARE @MsgError NVARCHAR(200) =
                'El monto excede el saldo pendiente (Q ' +
                CAST(@SaldoPendiente AS VARCHAR(20)) + ').';
            RAISERROR(@MsgError, 16, 1);
            ROLLBACK; RETURN;
        END

        -- 7) Insertar pago
        INSERT INTO dbo.Pago (IdFactura, Monto, MetodoPago, Referencia)
        VALUES (@IdFactura, @Monto, @MetodoPago, @Referencia);

        SET @IdPago = SCOPE_IDENTITY();

        -- 8) Si con este pago se completa el total → marcar como Pagada
        IF (@TotalPagado + @Monto) >= @TotalFactura
        BEGIN
            UPDATE dbo.Factura
            SET IdEstado = 2   -- Pagada
            WHERE IdFactura = @IdFactura;
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END

GO
/****** Objeto: StoredProcedure [dbo].[usp_Pago_ResumenFactura] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Pago_ResumenFactura]
    @IdFactura INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Result 1: resumen
    SELECT f.IdFactura, f.NumeroFactura, f.Serie,
           f.Total                                    AS TotalFactura,
           ISNULL(SUM(p.Monto), 0)                    AS TotalPagado,
           f.Total - ISNULL(SUM(p.Monto), 0)          AS SaldoPendiente,
           f.IdEstado,
           CASE f.IdEstado
               WHEN 1 THEN 'Pendiente'
               WHEN 2 THEN 'Pagada'
               WHEN 3 THEN 'Bloqueada'
               WHEN 4 THEN 'Anulada'
           END AS EstadoNombre
    FROM dbo.Factura f
    LEFT JOIN dbo.Pago p ON p.IdFactura = f.IdFactura
    WHERE f.IdFactura = @IdFactura
    GROUP BY f.IdFactura, f.NumeroFactura, f.Serie, f.Total, f.IdEstado;

    -- Result 2: historial de pagos
    SELECT IdPago, FechaPago, Monto, MetodoPago, Referencia
    FROM dbo.Pago
    WHERE IdFactura = @IdFactura
    ORDER BY FechaPago DESC;
END

GO
/****** Objeto: StoredProcedure [dbo].[usp_PagoAnticipado_GetCobertura] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- SP: OBTENER MESES CUBIERTOS DE UN CLIENTE
-- Para visualización en pantalla
-- =====================================================
CREATE   PROCEDURE [dbo].[usp_PagoAnticipado_GetCobertura]
    @IdCliente INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Devuelve las facturas anticipadas activas del cliente con su rango de cobertura
    SELECT f.IdFactura, f.NumeroFactura, f.Serie, f.Fecha,
           f.MesCobro     AS MesInicio,
           f.AnioCobro    AS AnioInicio,
           f.MesesPagados,
           DATEFROMPARTS(f.AnioCobro, f.MesCobro, 1) AS FechaInicio,
           DATEADD(MONTH, f.MesesPagados - 1,
                   DATEFROMPARTS(f.AnioCobro, f.MesCobro, 1)) AS FechaFin,
           f.Total,
           f.IdEstado,
           CASE f.IdEstado
               WHEN 1 THEN 'Pendiente'
               WHEN 2 THEN 'Pagada'
               WHEN 3 THEN 'Bloqueada'
               WHEN 4 THEN 'Anulada'
           END AS EstadoNombre
    FROM dbo.Factura f
    WHERE f.IdCliente        = @IdCliente
      AND f.EsPagoAnticipado = 1
      AND f.Activo           = 1
      AND f.IdEstado         IN (1, 2)
    ORDER BY f.AnioCobro DESC, f.MesCobro DESC;
END

GO
/****** Objeto: StoredProcedure [dbo].[usp_PagoAnticipado_VerificarCobertura] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- SP: VERIFICAR SI UN MES YA ESTÁ CUBIERTO POR PAGO ANTICIPADO
-- Regla:
--  Si un cliente pagó factura con EsPagoAnticipado=1 y MesesPagados=6,
--  esa factura cubre desde MesCobro/AnioCobro durante 6 meses.
--  Ej: factura jul/2026 anticipada → cubre jul, ago, sep, oct, nov, dic 2026
-- =====================================================
CREATE   PROCEDURE [dbo].[usp_PagoAnticipado_VerificarCobertura]
    @IdCliente INT,
    @Mes       TINYINT,
    @Anio      SMALLINT
AS
BEGIN
    SET NOCOUNT ON;

    -- Fecha que queremos verificar
    DECLARE @FechaConsulta DATE = DATEFROMPARTS(@Anio, @Mes, 1);

    -- Buscar factura anticipada vigente que cubra esa fecha
    SELECT TOP 1
        f.IdFactura, f.NumeroFactura, f.Serie,
        f.MesCobro       AS MesInicio,
        f.AnioCobro      AS AnioInicio,
        f.MesesPagados,
        -- Mes final cubierto = mes inicio + (MesesPagados - 1)
        DATEADD(MONTH, f.MesesPagados - 1,
                DATEFROMPARTS(f.AnioCobro, f.MesCobro, 1)) AS FechaFinCobertura,
        f.Total,
        CASE f.IdEstado
            WHEN 1 THEN 'Pendiente'
            WHEN 2 THEN 'Pagada'
            WHEN 3 THEN 'Bloqueada'
            WHEN 4 THEN 'Anulada'
        END AS EstadoFactura
    FROM dbo.Factura f
    WHERE f.IdCliente        = @IdCliente
      AND f.EsPagoAnticipado = 1
      AND f.Activo           = 1
      AND f.IdEstado         IN (1, 2)   -- pendiente o pagada (excluye anulada/bloqueada)
      AND DATEFROMPARTS(f.AnioCobro, f.MesCobro, 1) <= @FechaConsulta
      AND DATEADD(MONTH, f.MesesPagados - 1,
                  DATEFROMPARTS(f.AnioCobro, f.MesCobro, 1)) >= @FechaConsulta
    ORDER BY f.FechaCreacion DESC;
END

GO
/****** Objeto: StoredProcedure [dbo].[usp_Servicio_Delete] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Fix 3: Delete verifica que esté activo antes de borrar
CREATE   PROCEDURE [dbo].[usp_Servicio_Delete]
    @IdServicio INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM dbo.Servicio WHERE IdServicio = @IdServicio AND Activo = 1)
        BEGIN
            RAISERROR('Servicio no encontrado o ya fue eliminado.', 16, 1);
            RETURN;
        END

        IF EXISTS (
            SELECT 1 FROM dbo.ServicioInternet
            WHERE IdServicio = @IdServicio AND Activo = 1
            UNION ALL
            SELECT 1 FROM dbo.ServicioCable
            WHERE IdServicio = @IdServicio AND Activo = 1
        )
        BEGIN
            RAISERROR('No se puede eliminar: el servicio tiene clientes activos asignados.', 16, 1);
            RETURN;
        END

        UPDATE dbo.Servicio
        SET Activo = 0, FechaModificacion = SYSDATETIME()
        WHERE IdServicio = @IdServicio AND Activo = 1;  -- 👈 doble seguro
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END

GO
/****** Objeto: StoredProcedure [dbo].[usp_Servicio_GetAll] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Fix 2: GetAll también usa LEFT JOIN para consistencia
CREATE   PROCEDURE [dbo].[usp_Servicio_GetAll]
    @SoloActivos    BIT     = 1,
    @IdTipoServicio TINYINT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SELECT s.IdServicio, s.IdTipoServicio,
           ISNULL(t.Nombre, 'Sin tipo') AS TipoServicioNombre,
           s.Nombre, s.Descripcion, s.VelocidadMbps,
           s.TipoServicioCable, s.NumeroCanales, s.CostoBase, s.Activo
    FROM dbo.Servicio s
    LEFT JOIN dbo.TipoServicio t ON t.IdTipoServicio = s.IdTipoServicio
    WHERE (@SoloActivos    = 0 OR s.Activo            = 1)
      AND (@IdTipoServicio IS NULL OR s.IdTipoServicio = @IdTipoServicio)
    ORDER BY s.IdTipoServicio, s.Nombre;
END

GO
/****** Objeto: StoredProcedure [dbo].[usp_Servicio_GetByid] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Fix 1: GetById filtra activos y usa LEFT JOIN para el nombre del tipo
CREATE   PROCEDURE [dbo].[usp_Servicio_GetByid]
    @IdServicio INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT s.IdServicio, s.IdTipoServicio,
           ISNULL(t.Nombre, 'Sin tipo') AS TipoServicioNombre,
           s.Nombre, s.Descripcion, s.VelocidadMbps,
           s.TipoServicioCable, s.NumeroCanales, s.CostoBase, s.Activo
    FROM dbo.Servicio s
    LEFT JOIN dbo.TipoServicio t ON t.IdTipoServicio = s.IdTipoServicio
    WHERE s.IdServicio = @IdServicio
      AND s.Activo = 1;   -- 👈 solo activos
END

GO
/****** Objeto: StoredProcedure [dbo].[usp_Servicio_Insert] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_Servicio_Insert]
	@IdTipoServicio		tinyint,
	@Nombre				nvarchar(100),
	@Descripcion		nvarchar(255) = null,
	@VelocidadMbps		int = null,
	@TipoServicioCable  tinyint = null,
	@NumeroCanales		int = null,
	@CostoBase			decimal(10, 2),
	@IdServicio			int output
AS
Begin
	set NOCOUNT on;
	begin try
		IF exists (
			select 1 from dbo.Servicio
				Where Nombre = @Nombre and Activo = 1
		)
		Begin
			Raiserror('Ya existe un servicio activo con ese nombre', 16, 1);
			return;
		END

		Insert into dbo.Servicio
			(IdTipoServicio, Nombre, Descripcion, VelocidadMbps, TipoServicioCable, NumeroCanales, CostoBase)
		Values
			(@IdTipoServicio, @Nombre, @Descripcion, @VelocidadMbps, @TipoServicioCable, @NumeroCanales, @CostoBase)

		Set @IdServicio = SCOPE_IDENTITY();
	END TRY
	BEGIN CATCH
		THROW;
	END CATCH
END
GO
/****** Objeto: StoredProcedure [dbo].[usp_Servicio_Update] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create   procedure [dbo].[usp_Servicio_Update]
	@IdServicio			int,	
	@Nombre				nvarchar(100),
	@Descripcion		nvarchar(255) = null,
	@VelocidadMbps		int = null,
	@TipoServicioCable  tinyint = null,
	@NumeroCanales		int = null,
	@CostoBase			decimal(10, 2)

as
begin
	SET NOCOUNT on;
	begin TRY
		Update dbo.Servicio
		Set Nombre				= @Nombre,
			Descripcion			= @Descripcion,
			VelocidadMbps		= @VelocidadMbps,
			TipoServicioCable	= @TipoServicioCable,
			NumeroCanales		= @NumeroCanales,
			CostoBase			= @CostoBase,
			FechaModificacion	= SysDatetime()
		Where IdServicio = @IdServicio and Activo = 1;

		IF @@ROWCOUNT = 0
			Raiserror('Servicio no encontrado o inactivo', 16, 1);
	END try
	BEGIN CATCH
		THROW;
	END CATCH
end
GO
/****** Objeto: StoredProcedure [dbo].[usp_Upgrade_AplicarCliente] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Upgrade_AplicarCliente]
    @IdCliente INT,
    @VelocidadNueva INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @VelocidadActual INT;
        DECLARE @IdServicioInternet INT;

        SELECT @VelocidadActual    = VelocidadMbps,
               @IdServicioInternet = IdServicioInternet
        FROM dbo.ServicioInternet
        WHERE IdCliente = @IdCliente AND Activo = 1;

        IF @VelocidadActual IS NULL
        BEGIN
            RAISERROR('El cliente no tiene servicio de Internet activo.', 16, 1);
            ROLLBACK; RETURN;
        END

        IF @VelocidadActual >= 50
        BEGIN
            RAISERROR('El cliente ya tiene la velocidad máxima (50 Mbps).', 16, 1);
            ROLLBACK; RETURN;
        END

        -- Calcular nueva velocidad: +5 con tope en 50
        SET @VelocidadNueva = CASE WHEN @VelocidadActual + 5 > 50 THEN 50
                                   ELSE @VelocidadActual + 5
                              END;

        -- Actualizar servicio
        UPDATE dbo.ServicioInternet
        SET VelocidadMbps = @VelocidadNueva
        WHERE IdServicioInternet = @IdServicioInternet;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END

GO
/****** Objeto: StoredProcedure [dbo].[usp_Upgrade_AplicarMasivo] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Upgrade_AplicarMasivo]
    @FechaCorte           DATE = NULL,
    @ClientesActualizados INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        IF @FechaCorte IS NULL
            SET @FechaCorte = CAST(GETDATE() AS DATE);

        CREATE TABLE #Elegibles (IdCliente INT, IdServicioInternet INT, VelocidadNueva INT);

        ;WITH ServiciosInternet AS (
            SELECT si.IdCliente, si.IdServicioInternet, si.VelocidadMbps,
                   DATEDIFF(YEAR, si.FechaContratacion, @FechaCorte)
                       - CASE WHEN MONTH(si.FechaContratacion) > MONTH(@FechaCorte)
                              OR (MONTH(si.FechaContratacion) = MONTH(@FechaCorte)
                                  AND DAY(si.FechaContratacion) > DAY(@FechaCorte))
                              THEN 1 ELSE 0 END AS AniosCompletos
            FROM dbo.ServicioInternet si
            INNER JOIN dbo.Cliente c ON c.IdCliente = si.IdCliente
            WHERE si.Activo = 1 AND c.Activo = 1
              AND si.VelocidadMbps < 50
        ),
        FacturasConFlag AS (
            SELECT f.IdFactura, f.IdCliente,
                   CASE
                       WHEN f.IdEstado = 2
                        AND EXISTS (
                            SELECT 1 FROM dbo.Pago p
                            WHERE p.IdFactura = f.IdFactura
                              AND YEAR(p.FechaPago)  = f.AnioCobro
                              AND MONTH(p.FechaPago) = f.MesCobro
                        )
                       THEN 1 ELSE 0
                   END AS ATiempo
            FROM dbo.Factura f
            WHERE f.Activo = 1 AND f.IdEstado <> 4
              AND DATEFROMPARTS(f.AnioCobro, f.MesCobro, 1)
                  >= DATEADD(YEAR, -1, @FechaCorte)
        ),
        FacturasUltimoAnio AS (
            SELECT s.IdCliente, s.IdServicioInternet, s.VelocidadMbps,
                   COUNT(f.IdFactura)       AS Total,
                   ISNULL(SUM(f.ATiempo),0) AS ATiempo
            FROM ServiciosInternet s
            LEFT JOIN FacturasConFlag f ON f.IdCliente = s.IdCliente
            WHERE s.AniosCompletos >= 1
            GROUP BY s.IdCliente, s.IdServicioInternet, s.VelocidadMbps
        )
        INSERT INTO #Elegibles
        SELECT IdCliente, IdServicioInternet,
               CASE WHEN VelocidadMbps + 5 > 50 THEN 50
                    ELSE VelocidadMbps + 5 END
        FROM FacturasUltimoAnio
        WHERE Total > 0 AND Total = ATiempo;

        SELECT @ClientesActualizados = COUNT(*) FROM #Elegibles;

        UPDATE si
        SET si.VelocidadMbps = e.VelocidadNueva
        FROM dbo.ServicioInternet si
        INNER JOIN #Elegibles e ON e.IdServicioInternet = si.IdServicioInternet;

        DROP TABLE #Elegibles;
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END

GO
/****** Objeto: StoredProcedure [dbo].[usp_Upgrade_DetectarElegibles] Fecha de script: 23/06/2026 18:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- SP: EVALUAR CLIENTES ELEGIBLES PARA UPGRADE (corregido)
-- =====================================================
CREATE   PROCEDURE [dbo].[usp_Upgrade_DetectarElegibles]
    @FechaCorte DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @FechaCorte IS NULL
        SET @FechaCorte = CAST(GETDATE() AS DATE);

    ;WITH ServiciosInternet AS (
        SELECT si.IdCliente, si.IdServicioInternet,
               si.VelocidadMbps,
               si.FechaContratacion,
               c.Codigo, c.Nombre,
               DATEDIFF(YEAR, si.FechaContratacion, @FechaCorte)
                   - CASE WHEN MONTH(si.FechaContratacion) > MONTH(@FechaCorte)
                          OR (MONTH(si.FechaContratacion) = MONTH(@FechaCorte)
                              AND DAY(si.FechaContratacion) > DAY(@FechaCorte))
                          THEN 1 ELSE 0 END AS AniosCompletos
        FROM dbo.ServicioInternet si
        INNER JOIN dbo.Cliente c ON c.IdCliente = si.IdCliente
        WHERE si.Activo        = 1
          AND c.Activo         = 1
          AND si.VelocidadMbps < 50
    ),
    -- 1) Facturas del último año por cliente con flag ATiempo precalculado
    FacturasConFlag AS (
        SELECT f.IdFactura, f.IdCliente, f.IdEstado,
               CASE
                   WHEN f.IdEstado = 2
                    AND EXISTS (
                        SELECT 1 FROM dbo.Pago p
                        WHERE p.IdFactura = f.IdFactura
                          AND YEAR(p.FechaPago)  = f.AnioCobro
                          AND MONTH(p.FechaPago) = f.MesCobro
                    )
                   THEN 1 ELSE 0
               END AS ATiempo
        FROM dbo.Factura f
        WHERE f.Activo   = 1
          AND f.IdEstado <> 4
          AND DATEFROMPARTS(f.AnioCobro, f.MesCobro, 1)
              >= DATEADD(YEAR, -1, @FechaCorte)
    ),
    -- 2) Ya con el flag precalculado, ahora sí podemos agregar (SUM/COUNT)
    FacturasUltimoAnio AS (
        SELECT s.IdCliente,
               s.AniosCompletos,
               COUNT(f.IdFactura)    AS TotalFacturas,
               ISNULL(SUM(f.ATiempo),0) AS FacturasATiempo
        FROM ServiciosInternet s
        LEFT JOIN FacturasConFlag f ON f.IdCliente = s.IdCliente
        WHERE s.AniosCompletos >= 1
        GROUP BY s.IdCliente, s.AniosCompletos
    )
    SELECT s.IdCliente, s.Codigo, s.Nombre,
           s.IdServicioInternet,
           s.VelocidadMbps AS VelocidadActual,
           CASE WHEN s.VelocidadMbps + 5 > 50 THEN 50
                ELSE s.VelocidadMbps + 5 END AS VelocidadNueva,
           s.FechaContratacion,
           s.AniosCompletos,
           f.TotalFacturas,
           f.FacturasATiempo,
           CASE
               WHEN f.TotalFacturas = 0 THEN 'Sin facturas en el período'
               WHEN f.FacturasATiempo = f.TotalFacturas THEN 'Elegible'
               ELSE 'No elegible (tiene pagos atrasados)'
           END AS EstadoElegibilidad
    FROM ServiciosInternet s
    INNER JOIN FacturasUltimoAnio f ON f.IdCliente = s.IdCliente
    WHERE s.AniosCompletos >= 1
    ORDER BY s.Codigo;
END

GO
